Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

changed format to raw
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

removed reference to tutorial
  docs/user_guide.rst
Due: end-of-file-fixer

exclude tutorial
  .codacy.yaml
Due: end-of-file-fixer, check-yaml

add acquisitions to plotly pulse diagram
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

skip acquisition that is not in port map
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

remove requirement of wf_func for acquisitions
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

codacy
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

added label
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

test_compilation.py: test transmon trace acq
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Updated changelog for !300
  CHANGELOG.rst
Due: end-of-file-fixer

remove use of deprecated func
  quantify_scheduler/backends/qblox/compiler_container.py
Due: end-of-file-fixer, isort, black

changed settings to match the zhinst more
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

made LOSettings frozen
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

added to docstring
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

changed return format of lo to that of a generic icc
  quantify_scheduler/backends/qblox/instrument_compilers.py
Due: end-of-file-fixer, isort, black

added generics
  quantify_scheduler/backends/qblox/compiler_container.py
Due: end-of-file-fixer, isort, black

modified compilation to use generic iccs
  quantify_scheduler/backends/qblox/compiler_container.py
Due: end-of-file-fixer, isort, black

added none as value and exception if power is missing
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fixed new format config
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

allow none in LOSettings
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fix parameter extraction
  quantify_scheduler/backends/qblox/instrument_compilers.py
Due: end-of-file-fixer, isort, black

fix configs
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

fix frequency property
  quantify_scheduler/backends/qblox/instrument_compilers.py
Due: end-of-file-fixer, isort, black

fixed tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

added exception when using a different generic icc
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fix docstring
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fix config in docs
  docs/tutorials/qblox/Cluster.rst
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

updated changelog
  CHANGELOG.rst
Due: end-of-file-fixer

unneeded f string
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fixed return type
  quantify_scheduler/backends/qblox/instrument_compilers.py
Due: end-of-file-fixer, isort, black

change pls_idx to pulse_idx
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

typo in comment
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

fix mypy
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

added comment
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

fix warning
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

fix docstring
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

updated changelog for !304
  CHANGELOG.rst
Due: end-of-file-fixer

Apply 3 suggestion(s) to 3 file(s)
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

fixed default generic icc name
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
