Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Add compatibility info
  CHANGELOG.md
  README.md
Due: end-of-file-fixer

Implement Connectivity datastructure
  CHANGELOG.md
  docs/source/conf.py
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/How to use.md
  docs/source/reference/zhinst/index.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Running an Experiment.md
  docs/source/user/user_guide.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/qblox_hardware_config_old_style.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst/zhinst_hardware_config_old_style.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/zhinst_hardware_compilation_config.json
  quantify_scheduler/structure/__init__.py
  quantify_scheduler/structure/model.py
  quantify_scheduler/structure/types.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/types/test_common.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/structure/test_model.py
  tests/scheduler/structure/test_types.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Replace utf-8 invelid characters
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Update changelog
  CHANGELOG.md
Due: end-of-file-fixer

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Add pip frozen requirements for 0.17.1
  frozen_requirements/frozen-requirements-0.17.1.txt
Due: end-of-file-fixer

New release.md updated
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Update outdated connectivity docs
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Running an Experiment.md
  quantify_scheduler/structure/types.py
Due: end-of-file-fixer, isort, black

QuantumDevice - Store element and edge instrument references in quantum device (#442)
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/helpers/diagnostics_report.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Remove derelict frontends.py
  quantify_scheduler/frontends.py
Due: end-of-file-fixer, isort, black

Allow additional third-party instruments with custom complilation nodes in hardware backends
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Fix that `TestAssemblyValid` runs on Pycharm
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Prevent FutureWarning when creating `Schedule.timing_table` and sort by `abs_time` (SE-259)
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/schedules/schedule.py
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Fix incorrect index values in `fix_output_addressing` and move correction to QCM-RF (SE-276)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

Connectivity: Allow list of ports in edge input
  CHANGELOG.md
  docs/source/examples/connectivity_examples.md
  docs/source/examples/index.md
  docs/source/user/user_guide.md
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  tests/scheduler/backends/types/test_common.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Generalize QuantumDevice HardwareCompilationConfig generation
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/How to use.md
  docs/source/reference/zhinst/index.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Operations and Qubits.md
  docs/source/tutorials/Running an Experiment.md
  pyproject.toml
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/zhinst_hardware_compilation_config.json
  tests/scheduler/backends/graph_backends/test_device_compile.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/types/test_common.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Qblox backend refactor: move io-processing helper functions to backend (QAE-1229)
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Schedulables - Rename `Schedulable["operation_repr"]` to `Schedulable["operation_id"]`
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedulable.json
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/schedules/test_two_qubit_transmon_schedules.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Improve errors and warnings when compiling subschedules and/or loops
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/zhinst_backend.py
  tests/scheduler/schedules/test_timedomain_schedules.py
Due: end-of-file-fixer, isort, black

Move changelog entry (not a breaking change)
  CHANGELOG.md
Due: end-of-file-fixer

Periodic performance checks (SE-81)
  .gitignore
  .gitlab/merge_request_templates/General.md
  CHANGELOG.md
  docs/source/conf.py
  docs/source/dev/profiling/index.md
  docs/source/dev/profiling/metrics.py
  docs/source/dev/profiling/profiling.ipynb
  docs/source/dev/profiling/random_gates.ipynb
  docs/source/dev/profiling/random_gates.py
  docs/source/dev/profiling/resonator_spectroscopy.ipynb
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/dev/profiling/simple_binned_acquisition.ipynb
  docs/source/dev/profiling/simple_binned_acquisition.py
Due: end-of-file-fixer, isort, black

Change main switcher-version to 'dev' instead of 'latest'
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

Update docs links
  .gitlab/issue_templates/Defect.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/General.md
  CHANGELOG.md
  CONTRIBUTING.md
  docs/source/conf.py
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Running an Experiment.md
  docs/source/tutorials/ScheduleGettable.md
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Do not end staircase_pulse, long_square_pulse, long_ramp_pulse with VoltageOffset (SE-302)
  CHANGELOG.md
  quantify_scheduler/operations/pulse_factories.py
  tests/integration/test_compilation_nv.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_pulse_factories.py
Due: end-of-file-fixer, isort, black

[Qblox] Fixes for waveform gain/offset instructions and optimization with waveform uploading (SE-293)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/helpers/waveforms.py
  tests/baseline_qblox_assembly/acq_protocol_append_mode_ssro_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/acq_protocol_average_mode_allxy_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix qblox cluster links
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
Due: end-of-file-fixer

add warning banner to documentation of old and dev
  CHANGELOG.md
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

[Qblox] Relax integrated acquisition formatting during BinMode.APPEND
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

revert enable version warning banner
  CHANGELOG.md
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

Include double backticks in documentation where needed.
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox/register_manager.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/enums.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/collections.py
  quantify_scheduler/helpers/inspect.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/two_qubit_transmon_schedules.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Add performance profiling notebook: multidimensional batched sweep (SE-301)
  CHANGELOG.md
  docs/source/dev/profiling/index.md
  docs/source/dev/profiling/metrics.py
  docs/source/dev/profiling/multidim_batched_sweep.py
Due: end-of-file-fixer, isort, black

Qblox ICCs - Fix to allow running ScheduleGettable with option `always_initialize=False` (SE-323)
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_gettables_qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Fix missing resources in nested schedule
  CHANGELOG.md
  docs/source/reference/conditional_playback.md
  docs/source/reference/index.md
  quantify_scheduler/compilation.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Delete conditional_playback.md
  docs/source/reference/conditional_playback.md
Due: end-of-file-fixer

Update index.md
  docs/source/reference/index.md
Due: end-of-file-fixer

Add tooling to convert old-style hardware config dicts to new-style `HardwareCompilationConfig` datastructures
  CHANGELOG.md
  docs/source/examples/hardware_config_migration.md
  docs/source/examples/index.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/zhinst/index.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/user/user_guide.md
  pyproject.toml
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/qblox_hardware_config_old_style.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/zhinst_hardware_compilation_config.json
  quantify_scheduler/structure/types.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Lint device element and edge modules
  pyproject.toml
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
Due: end-of-file-fixer, isort, black

Add complex square pulses and allow MarkerPulse to be a pulse in an operation
  CHANGELOG.md
  docs/source/reference/control_flow.md
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_measurement_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
