Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Point quantify-core and quantify-scheduler links to quantify-os.org
  .gitlab/issue_templates/Defect.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/General.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/source/conf.py
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Running an Experiment.md
  docs/source/tutorials/ScheduleGettable.md
  docs/source/user/about.md
  docs/source/user/user_guide.md
  pyproject.toml
Due: end-of-file-fixer, isort, black

Qblox backend - Prevent repeated port-clock combinations (QSE-238)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Update deprecated MR checkbox
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

Enforce always adding HardwareOptions to HardwareCompilationConfig
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Operations - Adjust pulse info and acq info definitions to take class name
  CHANGELOG.md
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

Add gauss pulse to the pulse factories library
  CHANGELOG.md
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Hotfix: Backwards compatibility old-style hardware config for custom backend
  CHANGELOG.md
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

Remove warning
  docs/source/user/user_guide.md
Due: end-of-file-fixer

Update deprecated code suggestions with latest deprecations (SE-262)
  CHANGELOG.md
  docs/source/examples/deprecated.md
Due: end-of-file-fixer

Qblox backend - Remove deprecated instruction_generated_pulses_enabled (SE-254)
  CHANGELOG.md
  docs/source/examples/deprecated.md
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/recent.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

get_port_clock bugfix
  CHANGELOG.md
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Resolve "BasicTransmonElements are cleaned up when initialized with only weak reference"
  CHANGELOG.md
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

add warnings and documentation for loop limitations
  CHANGELOG.md
  docs/source/reference/control_flow.md
  pyproject.toml
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Move keep_original_schedule into CompilationConfig
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  docs/source/tutorials/Schedules and Pulses.md
  docs/source/user/quantify_compilers.md
  docs/source/user/user_guide.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_graph_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_schedule_plotting.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Propagate reference_magnitude to VoltageOffsets (#445)
  CHANGELOG.md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/operations/stitched_pulse.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
Due: end-of-file-fixer, isort, black

Weighted SSB integration in Acquisitions tutorial (SE-147)
  CHANGELOG.md
  docs/source/tutorials/Acquisitions.md
Due: end-of-file-fixer

Fix MarkerPulse address flip and off by one error
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

Move changelog entry to breaking
  CHANGELOG.md
Due: end-of-file-fixer

Revert "Fix MarkerPulse address flip and off by one error"
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

improve icon readability
  docs/source/_static/QUANTIFY_SCHEDULER_FLAT.svg
  docs/source/_static/QUANTIFY_SCHEDULER_FLAT_DM.svg
  docs/source/conf.py
  docs/source/images/QUANTIFY_LANDSCAPE_DM.svg
  docs/source/user/about.md
Due: end-of-file-fixer, isort, black

Upgrade to pydantic V2 functionality
  CHANGELOG.md
  docs/source/conf.py
  docs/source/examples/deprecated.md
  docs/source/examples/structure.DataStructure.rst
  docs/source/reference/qblox/How to use.md
  docs/source/reference/zhinst/T_verification_programs.md
  docs/source/reference/zhinst/index.md
  docs/source/tutorials/Operations and Qubits.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/structure/model.py
  quantify_scheduler/structure/types.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/device_under_test/test_composite_square_edge.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/structure/test_model.py
  tests/scheduler/structure/test_types.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_structure.py
Due: end-of-file-fixer, isort, black

Optimize update portclock function
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
Due: end-of-file-fixer, isort, black

Align QASM for ScheduleGettable when using diagnostic report
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/gettables.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Start development of v0.18.0
  CHANGELOG.md
Due: end-of-file-fixer

update documentation for control flow
  CHANGELOG.md
  docs/source/reference/control_flow.md
Due: end-of-file-fixer

Polish TriggerCount docs and tests
  CHANGELOG.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Release 0.17.0
  .gitlab/merge_request_templates/New release.md
  .readthedocs.yml
  AUTHORS.md
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.16.0.txt
Due: end-of-file-fixer, check-yaml

update changelog
  CHANGELOG.md
Due: end-of-file-fixer

Adjust docs link
  README.md
Due: end-of-file-fixer

Qblox backend - Prevent uploading of almost null waveforms
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add quantify dependencies version to diagnostics report
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/_version.py
  quantify_scheduler/helpers/diagnostics_report.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Remove pydata-sphinx-theme warning
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

Add frozen-requirements-0.17.0.txt
  frozen_requirements/frozen-requirements-0.17.0.txt
Due: end-of-file-fixer

Sphinx-AutoAPI Error: "'Module' object has no attribute 'doc'
  pyproject.toml
Due: end-of-file-fixer

Revert "Resolve "BasicTransmonElements are cleaned up when initialized with only weak reference"" (#452, #442)
  CHANGELOG.md
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Adding cpmg schedule
  CHANGELOG.md
  quantify_scheduler/schedules/timedomain_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
Due: end-of-file-fixer, isort, black

Change reference timezone of the diagnostics report from "Europe/Amsterdam" to UTC.
  CHANGELOG.md
  quantify_scheduler/helpers/diagnostics_report.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Add profiling notebooks (SE-250)
  CHANGELOG.md
  docs/source/conf.py
  docs/source/dev/index.md
  docs/source/dev/profiling/index.md
  docs/source/dev/profiling/profiling.ipynb
  docs/source/dev/profiling/random_gates.ipynb
  docs/source/dev/profiling/resonator_spectroscopy.ipynb
  docs/source/dev/profiling/simple_binned_acquisition.ipynb
Due: end-of-file-fixer, isort, black

Serialize QuantumDevice (QAE-807)
  CHANGELOG.md
  docs/source/examples/index.md
  docs/source/examples/serialization.md
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/helpers/diagnostics_report.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/schedules/schedule.py
  tests/fixtures/mock_setup.py
  tests/scheduler/device_under_test/test_composite_square_edge.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_json_utils.py
  tests/scheduler/test_pulse_library.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Sort changelog entries
  CHANGELOG.md
Due: end-of-file-fixer
