Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Updated hardware compile tutorial (QAE-30)
  CHANGELOG.md
  docs/tutorials/Compiling to Hardware.md
Due: end-of-file-fixer

Typecast atts to int if multiple of 2 (QBlox backend)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix func link in Compiling to hardware tutorial (follow-up to !582)
  docs/tutorials/Compiling to Hardware.md
Due: end-of-file-fixer

New compilation node `set_pulse_and_acquisition_clock` to check and/or set clock frequency (#371, QAE-449)
  CHANGELOG.md
  docs/examples/deprecated.md
  docs/tutorials/Operations and Qubits.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/graph_backends/standard_schedules.py
  tests/scheduler/backends/graph_backends/test_device_compile.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Hardware parameters small adjustments (QAE-865)
  CHANGELOG.md
  docs/tutorials/qblox/recent.rst
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Quickfix to forbid acquisition overwrite (QAE-509)
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/instrument_coordinator/utility.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

set up miniver
  .gitattributes
  quantify_scheduler/__init__.py
  quantify_scheduler/_static_version.py
  quantify_scheduler/_version.py
  setup.py
Due: end-of-file-fixer, isort, black

update merge request template
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

bump 0.11.0 in changelog
  CHANGELOG.md
Due: end-of-file-fixer

add version files to copyright headers exceptions
  tests/test_headers_and_copyright.py
Due: end-of-file-fixer, isort, black

enable autmated release pipeline
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Adding Q-Profile to docstring of quantify_scheduler.gettables_profiled
  quantify_scheduler/gettables_profiled.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Remove mix_lo from SequencerSettings (QAE-896)
  CHANGELOG.md
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Some docstring updates
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Remove bumpversion from setup.cfg
  setup.cfg
Due: end-of-file-fixer

add vanilla-thin Dockerfile
  .ci/vanilla-thin.Dockerfile
Due: end-of-file-fixer

Update changelog, recent Qblox interface changes, and deprecated notebook, for 0.11.0 release
  CHANGELOG.md
  docs/examples/deprecated.md
  docs/tutorials/qblox/recent.rst
Due: end-of-file-fixer

remove dangling requirements
  requirements.txt
  requirements_dev.txt
  requirements_setup.txt
  setup.py
Due: end-of-file-fixer, isort, black

patch miniver to work within Gitlab environment
  .gitlab-ci.yml
  quantify_scheduler/_version.py
Due: end-of-file-fixer, check-yaml, isort, black

FIXME change ci branch for testing
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

remove unnecessary dev requirements
  requirements_dev.txt
Due: end-of-file-fixer

configure setuptools_scm with pyproject.toml
  .gitignore
  pyproject.toml
  quantify_scheduler/__init__.py
  requirements_dev.txt
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

FIXME add packaging pipeline (need to change branch later)
  .ci/vanilla-thin.Dockerfile
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

NCO schedules: sequentially averaging over repeated measures per clock freq
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Codacy
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

add CHANGELOG.md to MANIFEST.in
  MANIFEST.in
Due: end-of-file-fixer

migrate to pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black
