Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Apply 1 suggestion(s) to 1 file(s)
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Silence Codacy (forwarding change from main)
  .pylintrc
Due: end-of-file-fixer

deprecation added
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

add parameter for testing
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

update tests profiler
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Fix type hint; Reinstate test
  tests/fixtures/schedule.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

add test profiled instrument coordinator
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

Update schedule.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Replace a few load_legacy_transmon_config and fix (obsolete) test
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Black
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Edit for tests
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

Update profiler test
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

minor update
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

codacy
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

Patch now failing tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.rst
Due: end-of-file-fixer

codacy
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Black
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Update gettables_profiled.py
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

Replace transmon_test_config.json by load_example_transmon_config, keep using via load_legacy_transmon_config if test doesn't allow it
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

merged authors and contributors
  AUTHORS.rst
Due: end-of-file-fixer

Sorry Victor, Gijs, blaming pypi
  AUTHORS.rst
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

Changelog (to be cont'd)
  CHANGELOG.rst
Due: end-of-file-fixer

removed stateful behaviour of test compilation for empty device
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Changelog v0.8.0; Add section Recent interface changes in Backend: Qblox docs
  CHANGELOG.rst
  docs/tutorials/qblox/How to use.rst
  docs/tutorials/qblox/index.rst
  docs/tutorials/qblox/recent.rst
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Authors fix
  AUTHORS.rst
Due: end-of-file-fixer

Remove various old temp requirement pins (expediting change from !447)
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer

In general, one could use any photon detector, not only SPD.
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

changelog entry !420
  CHANGELOG.rst
Due: end-of-file-fixer

Use spec clock for spectroscopy operation
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Hardware compilation requires amplitude. Ensures voltage < 0.25 (cluster req).
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Run hardware compilation in tests. Todo: test compiled schedule.
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Typo
  docs/tutorials/Tutorial_NV_DarkESR.md
Due: end-of-file-fixer

Trying to shut up Codacy
  quantify_scheduler/backends/__init__.py
Due: end-of-file-fixer, isort, black

Refactor device and hardware configs (cf. !407). Will cause conflict.
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Add tests for gates equivalent to existing ones
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Add default tests for SpectroscopyPulse
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Add NV center development to changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
