Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

fix codacy error
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

develop -> main
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

added missing tests for exceptions raised during compilation
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

address review comments
  CHANGELOG.rst
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
Due: end-of-file-fixer, isort, black

added a test for trace acquisition
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Converted heavisides to more readable square function
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, isort, black

Added test for compiling trace acquisition.
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

avoid rename of outer scope square
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, isort, black

removed unused JSON file
  quantify_scheduler/schemas/examples/transmon_circuit_to_device_cfg.json
Due: end-of-file-fixer, pretty-format-json

fixed tests
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

updated example on device compile
  docs/user_guide.rst
Due: end-of-file-fixer

updated tutorial 1
  docs/tutorials/Tutorial 1. basic experiment.rst.py
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

fixed small details in user guide
  docs/user_guide.rst
Due: end-of-file-fixer

codacy nitpicks
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

fixed a string error in the changelog
  CHANGELOG.rst
Due: end-of-file-fixer

codacy nitpicks
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

codacy nitpicks
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  tests/fixtures/schedule.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

add generic icc in constructor
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
Due: end-of-file-fixer, isort, black

fix ZIInstrumentCoordinator constructor signature
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
Due: end-of-file-fixer, isort, black

fix random tests that broke with approx
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

fix tests + typo
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

another typo
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

update changelog for 350
  CHANGELOG.rst
Due: end-of-file-fixer

update branch to main
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

formatting
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

correct motzoi parameter validator
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

Hotfix styling and pipeline.
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/waveforms.py
  requirements.txt
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

new black
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

mirror changes in https://gitlab.com/quantify-os/quantify-core/-/merge_requests/304
  .gitlab/issue_templates/Defect.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

fix ref files
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
Due: end-of-file-fixer, pretty-format-json

Apply 2 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

fix broken test
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

updated changelog for !325
  CHANGELOG.rst
Due: end-of-file-fixer

remove unused imports
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, isort, black

use list literal
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

fix inner function
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

regen ref files
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
Due: end-of-file-fixer, pretty-format-json

Undo hotfix !352 for https://gitlab.com/quantify-os/quantify-core/-/issues/293
  requirements.txt
Due: end-of-file-fixer
