Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

unknown values in the transmon element are set to float("nan"), closes #274
  CHANGELOG.rst
  quantify_scheduler/device_under_test/transmon_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

addresed docstring style comment
  CHANGELOG.rst
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

moved custom validator to helpers module
  docs/api_reference.rst
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/helpers/validators.py
Due: end-of-file-fixer, isort, black

first half of review
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

review part 2
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

change allocated clock cycles for start QA (maybe wrong?!)
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
Due: end-of-file-fixer, isort, black

SSRO fixes for Zhinst backend
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
Due: end-of-file-fixer, isort, black

Fixes styling.
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Cleanup.
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
Due: end-of-file-fixer, isort, black

Revert the seqc instructions for start_qa as it is unrelated to the MR.
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
Due: end-of-file-fixer, isort, black

Fixes the tests.
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_zhinst.py
Due: end-of-file-fixer, isort, black

Update CHANGELOG.
  CHANGELOG.rst
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.rst
Due: end-of-file-fixer

fix sphinx issues
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

black
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

fix broken link
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

fix latency correction
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

fix broken links
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

better specification of the raises directive
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Qblox backend: improved error raised by multiply assigned portclocks
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Change test name
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

qblox_backend simplified test_construct_sequencers
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

qblox_backend: add test for repeated portclocks in config
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix previous commit
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Simplified previous commit test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

qblox_backend test: too many sequencers requested
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove qcodes dep from requirements_dev.txt: q-core already includes it in its requirements.txt (and needs it pinned to <0.32.0 currently for RTD api ref build)
  requirements_dev.txt
Due: end-of-file-fixer

We need qcodes pinned down in requirement.txt, due to `--upgrade-strategy eager` in RTD external build
  requirements.txt
Due: end-of-file-fixer

black
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Fixed bug in tests (substituted copy by deepcopy)
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Revert "black"
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

black
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Corrected changelog entry for !350
  CHANGELOG.rst
Due: end-of-file-fixer

only assign frequency if sequencer has data
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

refactored device compilation to only add clocks that are used
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Revert "only assign frequency if sequencer has data"
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

codacy
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

codacy
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/fixtures/schedule.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
