Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Start development of v0.18.2
  CHANGELOG.md
Due: end-of-file-fixer

Change X180 and Z180 pulse amplitude sign
  CHANGELOG.md
  quantify_scheduler/operations/gate_library.py
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add ConditionalReset to gate library
  CHANGELOG.md
  docs/source/conf.py
  docs/source/images/conditional_schedule.svg
  docs/source/reference/conditional_playback.md
  docs/source/reference/index.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/conditional.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  quantify_scheduler/backends/qblox/q1asm_instructions.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Quickfix for zero length operation with looping
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Add hardware backend reference guide
  .gitlab/merge_request_templates/Default.md
  AUTHORS.md
  CHANGELOG.md
  docs/source/conf.py
  docs/source/reference/hardware_backends.md
  docs/source/reference/index.md
  docs/source/user/user_guide.md
  pyproject.toml
  quantify_scheduler/backends/mock/__init__.py
  quantify_scheduler/backends/mock/mock_rom.py
Due: end-of-file-fixer, isort, black

Move VoltageOffset back from Qblox backend
  CHANGELOG.md
  docs/source/conf.py
  docs/source/reference/qblox/Voltage offsets and long waveforms.md
  quantify_scheduler/backends/qblox/operations/__init__.py
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Move Qblox compiler's _insert_update_parameters to Sequencer
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
Due: end-of-file-fixer, isort, black

Make it possible to deserialize any class implementing __getstate__ correctly
  CHANGELOG.md
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/device_under_test/test_composite_square_edge.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/test_json_utils.py
Due: end-of-file-fixer, isort, black

Change description of bin mode parameter in the Trace class
  CHANGELOG.md
  quantify_scheduler/operations/acquisition_library.py
Due: end-of-file-fixer, isort, black

Allow gates to be device compiled to schedules, and add Hadamard gate
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/composite_factories.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/operations/test_composite_factories.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Refactor qblox cluster module components and clean tests
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Remove StitchedPulse conversion in pulse diagram
  CHANGELOG.md
  docs/source/reference/qblox/Voltage offsets and long waveforms.md
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
Due: end-of-file-fixer, isort, black

Small refactor of fixtures
  CHANGELOG.md
  quantify_scheduler/device_under_test/mock_setup.py
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Remove trivial name check in Schedule instantiation
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Documentation on the acquisition framework
  CHANGELOG.md
  docs/source/images/compilation_overview.svg
  docs/source/reference/acquisition_framework.md
  docs/source/reference/index.md
  docs/source/user/user_guide.md
  quantify_scheduler/enums.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

Change duration of various operations to not be Qblox-specific and remove Qblox references entirely from operations
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/qblox_hardware_config_old_style.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  tests/conftest.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/fixtures/assembly.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_end_to_end.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix references to qblox_instruments documentation
  CHANGELOG.md
  docs/source/conf.py
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/index.md
  docs/source/reference/qblox/recent.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Remove dependency on orjson
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
  quantify_scheduler/structure/model.py
Due: end-of-file-fixer, isort, black

Release 0.18.2
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.18.2.txt
  pyproject.toml
Due: end-of-file-fixer

Start development of v0.18.2+1
  CHANGELOG.md
Due: end-of-file-fixer

Qblox backend - New qblox_instruments release version 0.12.0
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Release 0.19.0
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.19.0.txt
Due: end-of-file-fixer

Start development of v0.19.1
  CHANGELOG.md
Due: end-of-file-fixer

Schedules - Add long time trace
  CHANGELOG.md
  quantify_scheduler/schedules/trace_schedules.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/schedules/test_trace_schedules.py
Due: end-of-file-fixer, isort, black

Qblox backend - Speedup by starting/stopping all armed sequencers via a single call
  CHANGELOG.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/ScheduleGettable.md
  quantify_scheduler/helpers/qblox_dummy_instrument.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Qblox backend - Keep order between pulses and acquisitions for opinfo and opstrategy
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Update dummy cluster config in Experiment tutorial
  CHANGELOG.md
  docs/source/tutorials/Running an Experiment.md
Due: end-of-file-fixer

Make types compatible with NumPy 2.0
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/gettables.py
  tests/scheduler/instrument_coordinator/components/test_zhinst.py
  tests/scheduler/structure/test_types.py
Due: end-of-file-fixer, isort, black

Qblox backend - Move logic for updating SetClockFrequency operation data out of distribute_data
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend - Refactor finding the integration length
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/conditional.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

Make schedulables ordering more apparent
  CHANGELOG.md
  docs/source/conf.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedule.json
Due: end-of-file-fixer, pretty-format-json, isort, black

Qblox backend - Fix cluster start function to clear acquisition data
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Refactor device compilation to make schedule and operation compilation more consistent
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Fix zhinst intersphinx pipeline problem and pyright problem in mock backend
  docs/source/conf.py
  docs/source/zhinst_qcodes_objects.inv
  docs/source/zhinst_toolkit_objects.inv
  quantify_scheduler/backends/mock/mock_rom.py
Due: end-of-file-fixer, isort, black

Qblox backend - Remove small unnecessary check for acquisition support
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add instrument compiler configs to qblox backend
  CHANGELOG.md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

expose sigma to users in Gaussian pulse
  CHANGELOG.md
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Qblox backend - Remove ControlDeviceCompiler
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/empty_qasm_program.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Qblox backend - Hardware compilation schedule operation more consistent
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black
