Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

reformat with black
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/trace_schedules.py
  quantify_scheduler/schedules/verification.py
  quantify_scheduler/visualization/pulse_diagram.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/graph_backends/standard_schedules.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_helpers.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/schedules/test_schedule_plotting_matplotlib.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

add jinja2 to requirements
  pyproject.toml
Due: end-of-file-fixer

migrate from pyproject.toml to setup.cfg
  pyproject.toml
  setup.cfg
Due: end-of-file-fixer

add version files to copyright headers exceptions
  tests/test_headers_and_copyright.py
Due: end-of-file-fixer, isort, black

add vanilla-thin Dockerfile
  .ci/vanilla-thin.Dockerfile
Due: end-of-file-fixer

set up miniver
  .gitattributes
  quantify_scheduler/__init__.py
  quantify_scheduler/_static_version.py
  quantify_scheduler/_version.py
  setup.py
Due: end-of-file-fixer, isort, black

Remove mix_lo from SequencerSettings (QAE-896)
  CHANGELOG.md
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

FIXME change ci branch for testing
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

update merge request template
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Remove bumpversion from setup.cfg
  setup.cfg
Due: end-of-file-fixer

migrate to pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

enable autmated release pipeline
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Update changelog, recent Qblox interface changes, and deprecated notebook, for 0.11.0 release
  CHANGELOG.md
  docs/examples/deprecated.md
  docs/tutorials/qblox/recent.rst
Due: end-of-file-fixer

add CHANGELOG.md to MANIFEST.in
  MANIFEST.in
Due: end-of-file-fixer

remove dangling requirements
  requirements.txt
  requirements_dev.txt
  requirements_setup.txt
  setup.py
Due: end-of-file-fixer, isort, black

bump 0.11.0 in changelog
  CHANGELOG.md
Due: end-of-file-fixer

Fix duration for SetClockFrequency, rename fast nco schedules to heterodyne_spec_sched_batched and two_tone_spec_sched_batched, put under test and polish docstrings
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/__init__.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Fix duration for SetClockFrequency and put under test
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Adjust error messages for NcoSetClockFrequencyStrategy
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Black & Codacy
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

Make box separation in circuit_diagram_matplotlib always equal to one
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/trace_schedules.py
  quantify_scheduler/schedules/verification.py
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
  quantify_scheduler/visualization/pulse_scheme.py
  tests/scheduler/backends/graph_backends/standard_schedules.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_helpers.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/helpers/test_inspect.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/operations/test_measurement_factories.py
  tests/scheduler/schedules/test_schedule_plotting_matplotlib.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
