Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

unpin funcparserlib==1.0.0a0
  requirements.txt
Due: end-of-file-fixer

replace deprecated mock_setups with mock_setup_basic_transmon
  quantify_scheduler/device_under_test/mock_setup.py
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

use mock_setup instead of mock_setup_basic_transmon
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

_compile now uses new graph based compilation
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

remove dependency on load_legacy_transmon_config
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

update changelog
  CHANGELOG.md
Due: end-of-file-fixer

clean up tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

removed legacy support from test_compilation
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

updated test_profiling
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

more tests now use mock_setup
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

cleanup code
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_verification.py
Due: end-of-file-fixer, isort, black

fix rendering of README.md on gitlab.com
  README.md
Due: end-of-file-fixer

add xxhash to requirements
  requirements.txt
Due: end-of-file-fixer

search_settable_param fix for finding wrong parameters
  quantify_scheduler/instrument_coordinator/utility.py
  tests/scheduler/instrument_coordinator/test_utility.py
Due: end-of-file-fixer, isort, black

search_settable_param with `is None` comparison
  quantify_scheduler/instrument_coordinator/utility.py
Due: end-of-file-fixer, isort, black

search_settable_param fix add CHANGELOG entry
  CHANGELOG.md
Due: end-of-file-fixer

Update .gitlab/merge_request_templates/General.md
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

Black formatting
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/waveforms.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Added N/A
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

Fix UnicodeDecodeError when pip installing from source on Windows
  setup.py
Due: end-of-file-fixer, isort, black

updated tests
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/measurement_factories.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/test_types.py
Due: end-of-file-fixer, pretty-format-json, isort, black

suggestions
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

update test_get_operation_start
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

updated rf tests
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

removed commented out code
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

update f01 frequencies
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

remove unused pytest import
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

codacy stuff
  tests/fixtures/mock_setup.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_compilation.py
  tests/scheduler/visualization/test_pulse_diagram.py
Due: end-of-file-fixer, isort, black

include get_operation_end
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Add tests of timing table
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Replace mentions of pulsar by module in backends.qblox.compiler_abc
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

cleanup and include assertAlmostEqual
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

codacy
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

use mock_setup_basic_transmon over of mock_setup
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

remove mock_setup fixture
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

remove set_up_mock_transmon_setup_legacy
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

textual changes
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

refactor test_portclocks
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

update naming test_adding_non_element_raises
  tests/scheduler/device_under_test/test_quantum_device.py
Due: end-of-file-fixer, isort, black
