Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

first batch
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/schedules/schedule.py
  tests/fixtures/mock_setup.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
  tests/scheduler/visualization/test_pulse_diagram.py
Due: end-of-file-fixer, isort, black

add phase_clock_reset option to device_cfg
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Update cluster config
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

Test that hardware compilation returns CompiledSchedule
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Clean up test a little
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Remove functionality for operations to be added in the future
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Remove tutorial. To be included in other branch/MR.
  docs/refs.bib
  docs/tutorials/Tutorial_NV_DarkESR.md
Due: end-of-file-fixer

all tests pass
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Pin qblox-instr to 0.7: Prevent upgrade upon minor release while allowing for installing patch releases
  requirements.txt
Due: end-of-file-fixer

More detailed docstring explaining phase.
  quantify_scheduler/operations/pulse_factories.py
Due: end-of-file-fixer, isort, black

Removing hermite waveform. Using skewed_hermite with skewness=0 instead.
  quantify_scheduler/waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Remove frequencies that are still unavailable
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

update requirements to remove error.
  requirements.txt
Due: end-of-file-fixer

Revert "update requirements to remove error."
  requirements.txt
Due: end-of-file-fixer

Bump to version 0.8.0
  quantify_scheduler/__init__.py
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

Add pip frozen requirements for 0.8.0
  frozen_requirements/frozen-requirements-0.8.0.txt
Due: end-of-file-fixer

set clock freq of spec
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

QAE-417: Convert index
  README.md
  README.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/readme.md
  docs/readme.rst
Due: end-of-file-fixer, isort, black

QAE-417: Convert authors, changelog, contributing, bibliography, installation
  AUTHORS.md
  AUTHORS.rst
  CHANGELOG.md
  CHANGELOG.rst
  CONTRIBUTING.md
  CONTRIBUTING.rst
  MANIFEST.in
  docs/authors.md
  docs/authors.rst
  docs/bibliography.md
  docs/bibliography.rst
  docs/changelog.md
  docs/changelog.rst
  docs/contributing.md
  docs/contributing.rst
  docs/installation.md
  docs/installation.rst
Due: end-of-file-fixer

QAE-417: Convert user guide
  docs/user_guide.md
  docs/user_guide.rst
Due: end-of-file-fixer

QAE-417: Convert tutorials except Compiling to Hardware and zhinst
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Operations and Qubits.rst.py
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/Schedules and Pulses.rst.py
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/index.md
  docs/tutorials/zhinst/index.md
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

QAE-417: Convert tutorial Compiling to Hardware
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Compiling to Hardware.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

QAE-417: Fix a reference in Compiling to Hardware and zhinst
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/tutorials/zhinst/index.md
  requirements_dev.txt
Due: end-of-file-fixer

QAE-417: Update MANIFEST.in and setup.py
  MANIFEST.in
  setup.py
Due: end-of-file-fixer, isort, black

QAE-417: Convert examples
  docs/examples/structure.DataStructure.rst
  docs/examples/structure.DataStructure.rst.py
  quantify_scheduler/structure/model.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

QAE-417: Fix equations
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/qblox/Pulsar.md
  docs/user_guide.md
Due: end-of-file-fixer

QAE-417: Update CHANGELOG
  CHANGELOG.md
Due: end-of-file-fixer

QAE-417: Update gitlab merge request templates
  .gitlab/merge_request_templates/General.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

QAE-417: Convert zhinst tutorial
  .gitignore
  docs/tutorials/zhinst/T_verification_programs.md
  docs/tutorials/zhinst/T_verification_programs.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

QAE-417: Fixed tabbed jupyter codes, now they are not tabbed
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/user_guide.md
Due: end-of-file-fixer

QAE-417: Convert jupyter-execute to MyST nb
  docs/conf.py
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/user_guide.md
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, isort, black

Add comment
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Move hardware config of mock setup in examples
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-417: jupyter-download-notebook to nb-download and remove jupyter-download-script
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/zhinst/T_verification_programs.md
Due: end-of-file-fixer

QAE-417: Use mystnb remove_code* instead of hide* tags
  CHANGELOG.md
  docs/quantify_compilers.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/user_guide.md
Due: end-of-file-fixer

QAE-417: Fix sphinx warnings
  docs/conf.py
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

increase execution_timeout
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

[Docs] Added documentation and unit tests for the Rxy, X, X90, Y and Y90 unitaries (#261)
  CHANGELOG.md
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/resources.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

unpin Jinja2==3.0.3
  requirements.txt
Due: end-of-file-fixer

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
