Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Make hw_mapping not optional for qblox instrument compilers
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Updated qblox hw config schema in docs
  docs/tutorials/qblox/Cluster.rst
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

docs
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

work in progress new style transmon element
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

Fix line trigger delay zhinst
  CHANGELOG.rst
  docs/tutorials/zhinst/index.rst
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix stop prepare zi issue
  CHANGELOG.rst
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Apply 7 suggestion(s) to 1 file(s)
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

alternative edit for note_856534068
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

codacy
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

migrate utilities from quantify-core
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/collections.py
  quantify_scheduler/helpers/importers.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/resources.py
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/fixtures/mock_setup.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

WIP - changelog
  CHANGELOG.rst
Due: end-of-file-fixer

0.6.0 changelog header
  CHANGELOG.rst
Due: end-of-file-fixer

fix qblox backend rounding error
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Update changelog: reorder and missing entries (to be cont'd)
  CHANGELOG.rst
Due: end-of-file-fixer

correctly generate transmon config
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

Add fix entry into changelog.
  CHANGELOG.rst
Due: end-of-file-fixer

Adds the missing MRs to the changelog.
  CHANGELOG.rst
Due: end-of-file-fixer

Adds a new release template and removes auto commit for bump2version.
  .gitlab/merge_request_templates/New release.md
  setup.cfg
Due: end-of-file-fixer

Fixes a mess up from the new release template.
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Bump to version 0.6.0.
  quantify_scheduler/__init__.py
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

Add pip frozen requirements for 0.6.0.
  .gitlab/merge_request_templates/New release.md
  frozen_requirements/frozen-requirements-0.6.0.txt
Due: end-of-file-fixer

Corrected the steps in the new release template. Disables automatic tagging in bump2version.
  .gitlab/merge_request_templates/New release.md
  setup.cfg
Due: end-of-file-fixer

Update New release.md to include adjusting `latest` in RTD
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Remove stray line from New release.md template
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Loosen warnings to error requirements for docs building.
  docs/Makefile
  docs/make.bat
Due: end-of-file-fixer

_SEQUENCER_STATE_FLAG_INFO updated to new qblox_instruments.SequencerStatusFlags
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix styling.
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

ClusterComponent automatically adds installed modules using name `"module<slot>"`
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Replace status strings by SequencerStatus enum
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Adjust _set_parameter method for new param referencing, TODO: update all calls to _set_parameter
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/test_utility.py
Due: end-of-file-fixer, isort, black

Update all calls to _set_parameter
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Fix imports/naming for Pulsar
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Replace waveforms_and_program -> sequence (TODO: reference in Tutorial 1)
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/test_utility.py
Due: end-of-file-fixer, isort, black

Replace Pulsar references in shared cluster/pulsar classes
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

_SEQUENCER_STATE_FLAG_INFO dict generation fixed; test_qblox_backend.py tests passing
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Added tests and deprecation for TransmonElement
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

updated changelog
  CHANGELOG.rst
  quantify_scheduler/device_under_test/device_element.py
Due: end-of-file-fixer, isort, black

updated changelog with issue numbers and MR number
  CHANGELOG.rst
Due: end-of-file-fixer

Fix tests making use of make_cluster fixture: add QbloxInstrumentCoordinatorComponentBase.instrument_channel to keep track of module references
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
