Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Refactored device_compile
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Refactored device_compile
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add test test_qcompile_add_pulse_information_transmon and reinstate transmon_test_config.json
  quantify_scheduler/compilation.py
  quantify_scheduler/schemas/examples/transmon_test_config.json
  quantify_scheduler/schemas/transmon_cfg.json
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Changelog
  CHANGELOG.md
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Refactored device_compile
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Restore support for add_pulse_information_transmon in device_compile and adjust test_deprecated_add_pulse_information_transmon to test all compilation routes
  CHANGELOG.md
  quantify_scheduler/compilation.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Add changelog
  CHANGELOG.md
Due: end-of-file-fixer

Add descriptor for clock name
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

Show clock name in plotly pulse diagram
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

Add docs/examples/deprecated.md
  docs/examples/deprecated.md
Due: end-of-file-fixer

Final tweaks to toc
  docs/examples/deprecated.md
Due: end-of-file-fixer

Add Quantify Deprecated Code Suggestions notebook in changelog
  CHANGELOG.md
Due: end-of-file-fixer

Try to fix internal md links
  docs/examples/deprecated.md
Due: end-of-file-fixer

Refactor SerialCompiler
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Removed unused statements
  tests/integration/test_compilation_nv.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Update CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Drop no distortion_corrections supplied log message level to debug
  quantify_scheduler/backends/corrections.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Remove failure on deprecation/future warnings
  pytest.ini
Due: end-of-file-fixer

Bump to version 0.10.1
  quantify_scheduler/__init__.py
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

add frozen-requirements for 0.10.1
  frozen_requirements/frozen-requirements-0.10.1.txt
Due: end-of-file-fixer

Refactored device_compile
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Add newline to render admonition
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Describe where spectroscopy frequency is taken from
  quantify_scheduler/schedules/spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

Updated comments of acquire_ttl command.
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

Updated^2 comments of acquire_ttl command.
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

Removed verify_square_strategy as it is not a square strategy.
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

Rename _Frequencies -> _NonNegativeFrequencies. Makes clear what validator does.
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/helpers/validators.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Also test for parameter unit
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Merge both tests by testing units for frequencies
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Update docstring and rename 'whitelist' into 'skip'
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Improve readability
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Update changelog. Likely to mess up when merging into other branch.
  CHANGELOG.md
Due: end-of-file-fixer
