Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

QAE-228: Add real_output capability
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Linting corrections
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Add changes to Recent interface changes
  docs/tutorials/qblox/recent.rst
Due: end-of-file-fixer

QAE-228: Remove BoundedInt and validation between intermediate and qblox-instruments
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Add settings assertion tests for QRM
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Modify tests with suggestions and add qrm_rf tests
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/transmon_test_config.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Fixing syntax standards
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

test_prepare_qcm_qrm: merge test_configure_qcm_settings, test_configure_qrm_settings, test_configure_qrm_real_output_settings into test_prepare
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Update according to comments on the MR
  .gitignore
  CHANGELOG.md
  docs/tutorials/qblox/recent.rst
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/transmon_test_config.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

test_prepare_cluster_rf: merge test_prepare_ref_source_cluster and test_configure_rf_settings; fix test_stop_cluster
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Remove module5 from qblox_test_mapping
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Remove q5 from example device config
  quantify_scheduler/schemas/examples/transmon_test_config.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Make docs a little bit more organized
  docs/tutorials/qblox/Pulsar.md
Due: end-of-file-fixer

Undoing (now) unnecessary change
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

QAE-228: Few small docs changes
  docs/tutorials/qblox/Pulsar.md
Due: end-of-file-fixer

QAE-228: Add pulsar documentation
  docs/tutorials/qblox/Pulsar.md
Due: end-of-file-fixer

Properly order qblox_test_mapping.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

Revert additions to Pulsar_QCM_RF and Pulsar_QRM_RF (non-existant devices, to be phased out; the settings that were added are now contained in cluster modules)
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

QAE-228: Add docs for RF devices
  docs/tutorials/qblox/Pulsar.md
Due: end-of-file-fixer

Convert test_prepare_cluster_rf to use QuantumDevice
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Test adjustments
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Fix typos in docs
  docs/tutorials/qblox/Pulsar.md
Due: end-of-file-fixer

QAE-228: Reformat syntax with black
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-228: Close instrument for some testcase
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update AUTHORS.md
  AUTHORS.md
Due: end-of-file-fixer

QAE-326: Reformat syntax with black
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

QAE-326: Update tests
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-326: Keep original functionality: markers are on at start
  quantify_scheduler/backends/qblox/instrument_compilers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-326: Turn on RF outputs when there are pulses, basebands always
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/sched-looped-acq_qrm0_seq0_instr.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-326: Fix codacy issues
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

QAE-326: Turn on all outputs for QRM-RF
  quantify_scheduler/backends/qblox/instrument_compilers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-326: Update correct marker configurations
  quantify_scheduler/backends/qblox/instrument_compilers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-326: Only activate markers when they're in use
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
Due: end-of-file-fixer, isort, black

QAE-326: Syntax reformat with black
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-326: Updated with small suggestions
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

QAE-326: Binary representation for markers in test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

add acq_duration to acq_metadata
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

replace sample_size field in acq_metadata with integration_duration from seq settings
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

QAE-326: Add CHANGELOG.md entry
  CHANGELOG.md
Due: end-of-file-fixer

QAE-326: Make ControlDeviceCompiler.portclocks_with_data private
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
