Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

refactor test_generate_config
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Comment where hermite factors are from
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, isort, black

Similar tests for nv_element as for transmon_element
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Add teardown function that cleans up mock nv setup
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Adjust log_profile / plot_profile and test_profiling so in testing we write to tmp_test_data_dir
  quantify_scheduler/gettables_profiled.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

Fix _store_scope_acquisition
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Fix test_store_scope_acquisition
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

More robustness by using centrally-provided functionality
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

Use public API of NV element
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

remove notebook_to_jupyter_sphinx extension
  docs/conf.py
Due: end-of-file-fixer, isort, black

Fix black code formatting
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Add required header
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Close instruments of nv mock setup
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

restore original ordering of tests
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Remove double entries from requirements_dev
  requirements_dev.txt
Due: end-of-file-fixer

Try removing #129 introduced reqs (see if RTD still builds)
  requirements_dev.txt
Due: end-of-file-fixer

Futher clean of requirements_dev
  requirements_dev.txt
Due: end-of-file-fixer

Old structure of mock_setup to avoid garbage collection
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Apply codacy suggestions
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Remaining pylint issues
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/waveforms.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Propagate argument change (pylint wants snake case)
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Added MR reference
  CHANGELOG.md
Due: end-of-file-fixer

mock_setup_basic_transmon now has a function scope
  tests/fixtures/mock_setup.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

codacy
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

remove doubly defined test
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

fix grammar README.md
  README.md
Due: end-of-file-fixer

fix test_sched_hardware_waveform_dict
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

update tests to work with clock_phase_reset instructions
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

codacy
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Fixed broken link in the hardware-compile tutorial
  docs/tutorials/Compiling to Hardware.md
Due: end-of-file-fixer

QAE-228: Gitignore includes vim swapfiles
  .gitignore
Due: end-of-file-fixer

QAE-228: Moved QCM_RF tests into clusters, removed QRM_RF tests
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/transmon_test_config.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Add rest of the tests for all hardware
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Modify CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

QAE-228: Remove real settings from RF and add tests for real qcm
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-228: Add hardware configuration settings
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

QAE-228: Add input/output gain/attenuation parameters
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
