Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Changelog v0.14.0
  CHANGELOG.md
Due: end-of-file-fixer

Update CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Update README.md
  README.md
Due: end-of-file-fixer

Release 0.14.0
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.14.0.txt
Due: end-of-file-fixer

Update file New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

update links to new qblox-instruments documentation outline
  CHANGELOG.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/recent.md
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Dark ESR schedule - remove initial CRCount from frequency sweep loop
  CHANGELOG.md
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

Change units of amplitude parameters to dimensionless
  CHANGELOG.md
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

Remove deprecated code 0.13.0 and 0.14.0 (QAE-1137, QAE-1061)
  CHANGELOG.md
  docs/examples/deprecated.md
  docs/tutorials/Operations and Qubits.md
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/operations/shared_native_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/_visualization/pulse_scheme.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/__init__.py
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/constants.py
  quantify_scheduler/visualization/pulse_diagram.py
  quantify_scheduler/visualization/pulse_scheme.py
  quantify_scheduler/waveforms.py
  tests/scheduler/schedules/visualization/test_circuit_diagram.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
  tests/scheduler/schedules/visualization/test_pulse_scheme.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Do not overwrite other parameters when setting reference magnitude to nan
  CHANGELOG.md
  quantify_scheduler/device_under_test/transmon_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Fix sudden_net_zero amp_B and integral (#310, QAE-808)
  CHANGELOG.md
  docs/refs.bib
  quantify_scheduler/waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Removed overwriting of IF frequency to None when mix_lo=False in qblox backend
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Update file CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Implement Numpy array serialization in Pydantic
  CHANGELOG.md
  docs/conf.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/structure/__init__.py
  quantify_scheduler/structure/model.py
  quantify_scheduler/structure/types.py
  tests/scheduler/structure/test_types.py
Due: end-of-file-fixer, isort, black

Added Rz gate (#290, QAE-1152)
  CHANGELOG.md
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Hotfix: Update param after changing phase (#432)
  AUTHORS.md
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

minor refactor to be numpy>=1.25 compatible
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Missing schedulable while adding timing constraint prints operation_repr instead of name (DOC-166)
  AUTHORS.md
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Towards formalization of acquisition protocols
  CHANGELOG.md
  docs/acquisition_protocols.md
  docs/conf.py
  docs/index.md
  docs/nitpick-exceptions.txt
  docs/refs.bib
  docs/user_guide.md
  pyproject.toml
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/validators.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/components/test_zhinst.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/structure/test_types.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Trigger count protocol return format updates
  CHANGELOG.md
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Restructure CompilationConfig, add HardwareDescription
  CHANGELOG.md
  docs/conf.py
  docs/quantify_compilers.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Running an Experiment.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/recent.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/tutorials/zhinst/index.md
  docs/user_guide.md
  pyproject.toml
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/fixtures/mock_setup.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schemas/examples/test_utils.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

update spelling changelog
  CHANGELOG.md
Due: end-of-file-fixer

Use hvplot instead of matplotlib Acquisition Protocol reference
  CHANGELOG.md
  docs/acquisition_protocols.md
  pyproject.toml
Due: end-of-file-fixer

Documentation for reference magnitude
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Suppress mystnb.mime_priority warning
  docs/conf.py
Due: end-of-file-fixer, isort, black

Add ScheduleGettable tutorial
  CHANGELOG.md
  docs/index.md
  docs/tutorials/ScheduleGettable.md
  docs/user_guide.md
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

Refactor Pulse diagram
  CHANGELOG.md
  docs/conf.py
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
Due: end-of-file-fixer, isort, black

Fix pydantic custom data types link
  quantify_scheduler/structure/types.py
Due: end-of-file-fixer, isort, black

add new acquisitions tutorial
  CHANGELOG.md
  docs/index.md
  docs/tutorials/Acquisitions.md
Due: end-of-file-fixer

Increment all deprecated/FutureWarning versions by 1 minor version
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/gettables.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Bump deprecation version in deprecated.md (follow-up to !719)
  docs/examples/deprecated.md
Due: end-of-file-fixer

[Docs Qblox backend] Fix/style Cluster docs and remove Pulsar docs
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/index.md
  docs/tutorials/qblox/recent.md
Due: end-of-file-fixer

update changelog for v0.16.0dev
  CHANGELOG.md
Due: end-of-file-fixer

Release 0.15.0
  CHANGELOG.md
  README.md
  docs/tutorials/Acquisitions.md
  frozen_requirements/frozen-requirements-0.15.0.txt
Due: end-of-file-fixer

hotfix: pin `dataclasses-json<0.5.12`
  CHANGELOG.md
  pyproject.toml
Due: end-of-file-fixer

Fix schedulable recursion
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Correctly place the changelog entry for MR 717
  CHANGELOG.md
Due: end-of-file-fixer

[Qblox] new acquisition protocol: thresholded acquisition (SE-90)
  CHANGELOG.md
  docs/acquisition_protocols.md
  docs/conf.py
  docs/images/thresholded_acquisition_explanation.svg
  docs/tutorials/Acquisitions.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  quantify_scheduler/structure/types.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

Fix weighted append acquisition (SE-219)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black
