Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

loosend requirement
  requirements_dev.txt
Due: end-of-file-fixer

add multiplexing schedule
  quantify_scheduler/schedules/verification.py
Due: end-of-file-fixer, isort, black

formatting
  quantify_scheduler/schedules/verification.py
Due: end-of-file-fixer, isort, black

rename test schedule
  quantify_scheduler/schedules/verification.py
Due: end-of-file-fixer, isort, black

added docstring
  quantify_scheduler/schedules/verification.py
Due: end-of-file-fixer, isort, black

added tests
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_verification.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Remove superfluous print statements
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

Update qblox mapping for dynamic sequencer allocation
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

address comments AdriaanRol
  docs/tutorials/Tutorial 1. basic experiment.rst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedulable.json
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, fix-encoding-pragma, pretty-format-json, isort, black

QbloxBackend: Add prepare method to compiler container
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

QbloxBackend: Add prepare method to compiler container
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove ic prefix from config
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

Qblox backend: make sequencers dynamically allocated
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Add tests
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

added missing entry for 312 to CHANGELOG.rst
  CHANGELOG.rst
Due: end-of-file-fixer

Work in progress on the circuit_to_device compilation
  quantify_scheduler/backends/circuit_to_device_backend.py
  quantify_scheduler/schemas/examples/circuit_to_device_example_cfgs.py
  quantify_scheduler/schemas/examples/transmon_circuit_to_device_cfg.json
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device_backend.py
  tests/scheduler/schemas/__init__.py
  tests/scheduler/schemas/examples/__init__.py
Due: end-of-file-fixer, pretty-format-json, isort, black

expand docstring of schedulable
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

update tutorial
  docs/tutorials/Tutorial 1. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

codacy issues
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/schedules/test_schedule_sampling.py
Due: end-of-file-fixer, isort, black

moved the latency correction
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

fixed tests
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

added count as elapsed to auto wait
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

remove max duration for latency correction
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

fixed broken tests
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

removed unneeded test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

qblox_test_mapping use scientific notation
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

assign_pulse_and_acq_info_to_devices back to qblox_backend.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Support generic instruments with nested parameters
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/instrument_coordinator/components/generic.py
  quantify_scheduler/instrument_coordinator/utility.py
  tests/scheduler/instrument_coordinator/test_utility.py
Due: end-of-file-fixer, isort, black

Hotfix generic icc for unregistered qcodes functions
  quantify_scheduler/instrument_coordinator/components/generic.py
  quantify_scheduler/instrument_coordinator/utility.py
Due: end-of-file-fixer, isort, black

Removes the hardcoded ic prefix for the LO config in ZI backend.
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Compiler container: undo changes to init
  quantify_scheduler/backends/qblox/compiler_container.py
Due: end-of-file-fixer, isort, black

Made a convinience function for assign pulses to inst compilers
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Fixed tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fixes the ic prefix issue for the csv files.
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  tests/scheduler/instrument_coordinator/components/test_zhinst.py
Due: end-of-file-fixer, isort, black

added data argument to staircase pulse
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

reset phase every iteration
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
