Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

rename all component classes
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

remove setting ref source
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

add pulsars back
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

removes pulsar rf
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Downconverter: emphasize line
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

change order
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Downconverter:make paragraph
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

fix broken tests
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Downconverter: fix paragraph
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

tutorial 3: fix rst warning
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

update for new plotting API
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

rename schedule.timing_constraints to schedule.schedulables
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedule.json
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, pretty-format-json, isort, black

black
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

add json schema for schedulable
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedulable.json
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

fix schedule.__repr__
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

update docstrings and refs to timing_constraints
  docs/tutorials/Tutorial 1. basic experiment.rst.py
  docs/user_guide.rst
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

update additional docstring
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

added test for ref source not called
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/fixtures/schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

fix broken test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

formatting
  tests/fixtures/schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

fix docstrings
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

formatting
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

add comments to test
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

rename base class
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

fix hanging issue
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

add latency correction
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

add warning and excpetion ahndling
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

regenerate ref files
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
Due: end-of-file-fixer, pretty-format-json

added simple test for latency correction
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

fix latency correction calculation
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

add test for latency correction warning
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

improve exception message
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

add test for exception
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox downconverter: added a running code snipped to docs
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

pylint
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

scanpydoc>=0.7.1<0.7.4
  requirements_dev.txt
Due: end-of-file-fixer

Try scanpydoc==0.7.3
  requirements_dev.txt
Due: end-of-file-fixer

typo
  requirements_dev.txt
Due: end-of-file-fixer

Qblox downconverter docs: clarified effect of config entry
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer
