Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

FIxed header issue
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Update qasm_program.elapsed_time for NcoSetClockFrequencyStrategy; Add check to Sequencer.generate_qasm_program for maximum number of supported instructions
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Update qasm_program.elapsed_time for NcoSetClockFrequencyStrategy
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
Due: end-of-file-fixer, isort, black

Add warning when number of instructions in QASM program exceeds supported
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
Due: end-of-file-fixer, isort, black

Add warning to docstring of Sequencer for use of downconverter_freq
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Remove check
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
Due: end-of-file-fixer, isort, black

Qblox ICCs - Set marker_ovr_en to False before schedule execution (QAE-827)
  CHANGELOG.md
  docs/tutorials/qblox/recent.rst
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Revert moving around MAX_SAMPLE_SIZE_ACQUISITIONS
  quantify_scheduler/backends/qblox/constants.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Removed empty hw_config
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Unify calling functions for pulse and circuit diagram plots
  CHANGELOG.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Schedules and Pulses.md
  docs/user_guide.md
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/shared_native_library.py
  quantify_scheduler/schedules/_visualization/__init__.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/_visualization/constants.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/_visualization/pulse_scheme.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/operation.json
  quantify_scheduler/visualization/__init__.py
  tests/scheduler/schedules/test_schedule_plotting.py
  tests/scheduler/schedules/test_schedule_plotting_matplotlib.py
  tests/scheduler/schedules/test_schedule_sampling.py
  tests/scheduler/schedules/visualization/__init__.py
  tests/scheduler/schedules/visualization/test_circuit_diagram.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
  tests/scheduler/schedules/visualization/test_pulse_scheme.py
  tests/scheduler/test_compilation.py
  tests/scheduler/visualization/test_circuit_diagram.py
  tests/scheduler/visualization/test_pulse_diagram.py
  tests/scheduler/visualization/test_pulse_scheme.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Disable shallow clone in Gitlab CI
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Revert to single measure per freq nco sweep schedules
  CHANGELOG.md
  quantify_scheduler/schedules/__init__.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

Resolve "Marker and triggers not configured properly in ZI backend"
  docs/tutorials/zhinst/index.md
Due: end-of-file-fixer

Add distortion corrections to Zhinst hardware
  CHANGELOG.md
  quantify_scheduler/backends/zhinst_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Qblox backend reference guide overhaul and fix docs generation warnings (QAE-463)
  CHANGELOG.md
  README.md
  docs/conf.py
  docs/examples/deprecated.md
  docs/examples/structure.DataStructure.rst
  docs/index.md
  docs/refs.bib
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/index.md
  docs/tutorials/qblox/recent.md
  docs/tutorials/qblox/recent.rst
  docs/user_guide.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/gettables_profiled.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  quantify_scheduler/structure/model.py
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

Do not disable NCO when setting IF to 0
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Serialization and deserialization of functions and classes (#393, QAE-847)
  CHANGELOG.md
  docs/tutorials/Operations and Qubits.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/importers.py
  quantify_scheduler/structure/model.py
  tests/scheduler/backends/graph_backends/test_device_compile.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/helpers/test_importers.py
  tests/scheduler/structure/__init__.py
  tests/scheduler/structure/test_model.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Change fallback version to comply with PEP 440
  quantify_scheduler/_version.py
Due: end-of-file-fixer, isort, black

Change remaining refs to "unknown" to UNKNOWN_VERSION
  quantify_scheduler/_version.py
Due: end-of-file-fixer, isort, black

Change test to use nullcontext
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Black
  quantify_scheduler/_version.py
Due: end-of-file-fixer, isort, black

Resolve "Update CompilationConfig with high-level structure" (#332)
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

Fix Qblox sync reset bug following the xarray change (QAE-968)
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

revert to default changelog merge strategy
  .gitattributes
Due: end-of-file-fixer

Revert "revert to default changelog merge strategy"
  .gitattributes
Due: end-of-file-fixer

Release 0.12.0
  AUTHORS.md
  CHANGELOG.md
  docs/tutorials/qblox/recent.md
  frozen_requirements/frozen-requirements-0.12.0.txt
Due: end-of-file-fixer

Start development of v0.12.1
  CHANGELOG.md
Due: end-of-file-fixer

Update file New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Remove pyqtgraph requirement
  pyproject.toml
Due: end-of-file-fixer

Move DeviceCompilationConfig into graph_compilation to avoid circular import
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Let circuit_to_device CompilationNode accept full CompilationConfig as input
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

Let qblox_hardware_compile CompilationNode accept full CompilationConfig as input
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove unused compilation_options from qblox_hardware_compile CompilationNode
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

Let zhinst_hardware_compile CompilationNode accept full CompilationConfig as input
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black
