Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

improve error message when missing module in hardware description
  CHANGELOG.md
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix marker debug mode
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

`LongTimeTrace` dispersive measurement compilation fixes with reset clock phase and gate pulse amp
  CHANGELOG.md
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Optimize validate_overlapping_pulses and introduce new performance notebook
  CHANGELOG.md
  docs/source/dev/profiling/loops_with_measurements.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Small linting changes in nv library
  pyproject.toml
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Ignore zhinst linkcheck
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

Release 0.21.0
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.21.0.txt
  pyproject.toml
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Start development of v0.21.1
  CHANGELOG.md
Due: end-of-file-fixer

Release 0.21.0
  CHANGELOG.md
  README.md
  docs/source/conf.py
  docs/source/tutorials/Conditional Reset.md
  frozen_requirements/frozen-requirements-0.21.0.txt
  pyproject.toml
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Reapply: Add flag to allow off-grid NCO operations
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Performance improvements with caching and checking loops
  CHANGELOG.md
  docs/source/dev/profiling/metrics.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/resources.py
Due: end-of-file-fixer, isort, black

QTM Timetag documentation update
  CHANGELOG.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/reference/qblox/Trigger count and timetag.md
  docs/source/reference/qblox/index.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Timetagging.md
  docs/source/tutorials/index.md
  quantify_scheduler/backends/qblox/hardware_config_nv_center_old_style.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/enums.py
  quantify_scheduler/gettables.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_nv_center.json
  tests/integration/test_timetagging.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Ruff min, max updates and fix broken links in changelog
  CHANGELOG.md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Release 0.21.1
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.21.1.txt
Due: end-of-file-fixer

Start development of v0.21.2
  CHANGELOG.md
Due: end-of-file-fixer

Add default clock to SoftSquarePulse, GaussPulse and NumericalPulse, add default clocks to docstrings
  quantify_scheduler/backends/qblox/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

Pyright fixes part 2
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/mock/mock_rom.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/gettables_profiled.py
  quantify_scheduler/helpers/collections.py
  quantify_scheduler/helpers/inspect.py
  quantify_scheduler/helpers/mock_instruments.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/helpers/validators.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/instrument_coordinator/components/generic.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/instrument_coordinator/utility.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Make timestamp in filename for `QuantumDevice.to_json_file` optional
  CHANGELOG.md
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/device_under_test/test_quantum_device.py
Due: end-of-file-fixer, isort, black

Remove numpy version pin for python 3.10 and up
  pyproject.toml
Due: end-of-file-fixer

Clean up after hardware config redesign
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Fix class ref for sphinx autoapi 3.3.0 update
  quantify_scheduler/backends/types/common.py
Due: end-of-file-fixer, isort, black

Add internal logic to calculate pulse compensations
  CHANGELOG.md
  docs/source/conf.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/pulse_compensation.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Change CPMG schedule to enable Ramsey style decoupling measurements
  CHANGELOG.md
  quantify_scheduler/schedules/timedomain_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
Due: end-of-file-fixer, isort, black

Refactor Qblox compiler classes: frequencies and the "parent" attribute (SE-467)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove settings parameter from SequencerCompiler init
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Add driver ignore check to pytest
  tests/conftest.py
Due: end-of-file-fixer, isort, black

Fix driver-version-ignore test
  tests/scheduler/backends/qblox/test_driver_version_check.py
Due: end-of-file-fixer, isort, black

Add IP address entry to hardware config
  pyproject.toml
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_transmon.json
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Docstring ruff cleanup in pulse factories
  pyproject.toml
  quantify_scheduler/operations/pulse_factories.py
Due: end-of-file-fixer, isort, black

Add SimpleNumericalPulse to Qblox backend
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

Fix coverage to use correct source
  .coveragerc
  AUTHORS.md
Due: end-of-file-fixer

Fix new pyright issues in json decoder
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

Net zero pulse UI changes
  docs/source/conf.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/operations/pulse_compensation_library.py
  quantify_scheduler/pulse_compensation.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Add diff-cover to test dependecies
  pyproject.toml
Due: end-of-file-fixer

Add diff-cover as prerequisite
  pyproject.toml
Due: end-of-file-fixer

Add addition
  .gitlab-ci.yml
  quantify_scheduler/math.py
Due: end-of-file-fixer, check-yaml, isort, black
