Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Fix RTD build: Remove python.system_packages
  .readthedocs.yml
Due: end-of-file-fixer, check-yaml

Fix link to quantify-core:installation (by changing {doc} -> {ref})
  docs/installation.md
Due: end-of-file-fixer

Add jinja2 as a dependency
  CHANGELOG.md
  pyproject.toml
Due: end-of-file-fixer

Fix broken link in changelog
  CHANGELOG.md
Due: end-of-file-fixer

Remove pydantic < v2.0 pin
  docs/source/examples/structure.DataStructure.rst
  docs/source/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/tutorials/zhinst/index.md
  docs/source/user_guide.md
  pyproject.toml
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/structure/model.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/structure/test_model.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Add StitchedPulse examples to tutorial (SE-101)
  CHANGELOG.md
  docs/source/tutorials/Schedules and Pulses.md
  docs/source/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/tutorials/qblox/Cluster.md
Due: end-of-file-fixer

Pin pydantic>2.0
  pyproject.toml
Due: end-of-file-fixer

Docs: Switch to PyData Sphinx theme
  CHANGELOG.md
  docs/source/_static/css/custom.css
  docs/source/_static/quantify_scheduler.css
  docs/source/_templates/python/module.rst
  docs/source/authors.md
  docs/source/backends/index.md
  docs/source/backends/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/backends/qblox/Cluster.md
  docs/source/backends/qblox/How to use.md
  docs/source/backends/qblox/index.md
  docs/source/backends/qblox/recent.md
  docs/source/backends/zhinst/T_verification_programs.md
  docs/source/backends/zhinst/index.md
  docs/source/changelog.md
  docs/source/conf.py
  docs/source/contributing.md
  docs/source/dev/guide.md
  docs/source/dev/index.md
  docs/source/examples/index.md
  docs/source/examples/structure.DataStructure.rst
  docs/source/images/index_api.svg
  docs/source/images/index_contribute.svg
  docs/source/images/index_getting_started.svg
  docs/source/images/index_user_guide.svg
  docs/source/index.md
  docs/source/tutorials/acquisition_protocols.md
  docs/source/tutorials/index.md
  docs/source/tutorials/quantify_compilers.md
  docs/source/user/authors.md
  docs/source/user/bibliography.md
  docs/source/user/changelog.md
  docs/source/user/index.md
  docs/source/user/installation.md
  docs/source/user/user_guide.md
  pyproject.toml
Due: end-of-file-fixer, isort, black

Checkbox for pipeline/dep change
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

Fix broken link
  CHANGELOG.md
Due: end-of-file-fixer

Docs - Adjust titles and some other plumbing to align with core
  AUTHORS.md
  README.md
  docs/source/examples/deprecated.md
  docs/source/examples/index.md
  docs/source/images/Qblox_logo.svg
  docs/source/index.md
  docs/source/nitpick-exceptions.txt
  docs/source/tutorials/index.md
  docs/source/user/about.md
  docs/source/user/index.md
  docs/source/user/quantify_compilers.md
  docs/source/user/user_guide.md
Due: end-of-file-fixer

Add docs and docstrings checkbox
  .gitlab/merge_request_templates/General.md
Due: end-of-file-fixer

Chevron CZ schedule function (QAE-1158)
  CHANGELOG.md
  docs/source/conf.py
  docs/source/refs.bib
  quantify_scheduler/schedules/two_qubit_transmon_schedules.py
  tests/scheduler/schedules/test_two_qubit_transmon_schedules.py
Due: end-of-file-fixer, isort, black

Docs - Introduce reference guide and extend contrib guidelines
  CONTRIBUTING.md
  docs/source/backends/index.md
  docs/source/conf.py
  docs/source/index.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/index.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/How to use.md
  docs/source/reference/qblox/index.md
  docs/source/reference/qblox/recent.md
  docs/source/reference/zhinst/T_verification_programs.md
  docs/source/reference/zhinst/index.md
  docs/source/refs.bib
  docs/source/tutorials/index.md
  docs/source/user/user_guide.md
Due: end-of-file-fixer, isort, black

Add serial number and firmware version of qblox instruments to the bug report (SE-244)
  CHANGELOG.md
  quantify_scheduler/helpers/diagnostics_report.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Remove unnecessary deepcopies in compilation (SE-233)
  CHANGELOG.md
  docs/source/tutorials/Schedules and Pulses.md
  docs/source/user/quantify_compilers.md
  docs/source/user/user_guide.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/schedules/schedule.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_graph_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_schedule_plotting.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Trigger count documentation for acquisition protocols documentation (SE-240)
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
Due: end-of-file-fixer, pretty-format-json, isort, black

Repetition loops
  CHANGELOG.md
  docs/source/reference/control_flow.md
  docs/source/reference/index.md
  pyproject.toml
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedulable.json
  quantify_scheduler/schemas/schedule.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Some spacing
  docs/source/reference/control_flow.md
Due: end-of-file-fixer

Bump quantify-core version dependency to 0.7.1 and remove TODO
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Fix error while plotting numerical pulses with non-zero rel_time
  CHANGELOG.md
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

init
  .ci/Dockerfile
  .gitlab-ci.yml
  docs/source/conf.py
Due: end-of-file-fixer, check-yaml, isort, black

update conf.py
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

disable switcher
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

enable switcher
  docs/source/conf.py
Due: end-of-file-fixer, isort, black

Deploy documentation to quantify-os.org
  .ci/Dockerfile
  .gitlab-ci.yml
  CHANGELOG.md
  docs/source/conf.py
Due: end-of-file-fixer, check-yaml, isort, black

normalize weighted acquisitions with respect to acq duration
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Auto-add New issue label for new issues (thanks @rsokolewicz!)
  .gitlab/issue_templates/Defect.md
  .gitlab/issue_templates/Feature.md
Due: end-of-file-fixer

Fix missing signal on O2 and O4 outputs of baseband modules in real mode
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Release 0.16.1
  frozen_requirements/frozen-requirements-0.16.1.txt
Due: end-of-file-fixer

Start developing v0.16.2
  CHANGELOG.md
Due: end-of-file-fixer

Revert "normalize weighted acquisitions with respect to acq duration"
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

CI: Fully move configuration to a standalone repo
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Add v0.16.1 release notes to changelog
  CHANGELOG.md
Due: end-of-file-fixer

Fix ruff issues
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

Adjust casing
  docs/source/reference/control_flow.md
Due: end-of-file-fixer
