Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

pylint
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

fix typo
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

pylint ignore
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

mypy assertion
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

fix typehint generator
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

redundant parentheses
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

assignment-from-none
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

remove unused fixture
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

variable name fix pylint
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

fix generator typing
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

fix import order
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

add schedulable class
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/circuit_diagram.py
Due: end-of-file-fixer, isort, black

fix pulse_diagram
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/scheduler/schedules/test_schedule_sampling.py
Due: end-of-file-fixer, isort, black

change hardcoded generic icc name
  quantify_scheduler/backends/qblox/compiler_container.py
Due: end-of-file-fixer, isort, black

fix default icc name in LOSettings too
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

update tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add doc ref symbol to qblox/zhist backends
  docs/tutorials/qblox/index.rst
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer

tutorial_5 skeleton
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

determine_absolute_timing now redudantly called in qcompile
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

MockLocalOscillator moved from tests to main package
  quantify_scheduler/instrument_coordinator/components/generic.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Added Tutorial 3: Compilation and hw execution
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

work on circuit layer operation explanation
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

make schedulable.timing_constraints compatible with old API
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/schedules/test_schedule_sampling.py
Due: end-of-file-fixer, isort, black

make MR more compatible with old API
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Added docstring to MockLocalOscillator
  quantify_scheduler/instrument_coordinator/components/generic.py
Due: end-of-file-fixer, isort, black

add explicit reference to operation schema to tutorial
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

add backend independent plot_pulse_diagram method to Schedule
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

add backend independent plot_circuit_diagram method to Schedule
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

add error for unrecognized plot_backend for plot_pulse_diagram
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

update docstring of `plot_circuit_diagram`
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

conform to coding style
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

conform to coding style 2
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

Move intro above the first section
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Fixed minus error in Rxy unitary
  quantify_scheduler/operations/gate_library.py
Due: end-of-file-fixer, isort, black

Change qblox-instruments version to 0.5.4 in requirements
  requirements.txt
Due: end-of-file-fixer

Allow multiple acquisition channels in Schedule gettable
  CHANGELOG.rst
  docs/user_guide.rst
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black
