Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

renamed opt_in to opt_cont for extra clarity
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
Due: end-of-file-fixer, pretty-format-json, isort, black

update changelog and function signatures
  AUTHORS.md
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

ResetSpinpump public as decided in developers' meeting
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Classes containing parameters public as decided in developers' meeting
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Follow-up from previous commit
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
Due: end-of-file-fixer, pretty-format-json

Consistent variable naming
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

More consistent variable names
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Add Measure operation to NV element
  quantify_scheduler/device_under_test/nv_element.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Add optical_measurement factory and TriggerCount acquisition
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/operations/test_measurement_factories.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

Add integration test for Measure operation
  quantify_scheduler/device_under_test/nv_element.py
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Pylint
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/operations/test_measurement_factories.py
Due: end-of-file-fixer, isort, black

codacy
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Reset operation for NV centres
  CHANGELOG.md
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
  tests/integration/__init__.py
  tests/integration/test_compilation_nv.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Added deprecation warning for acq_channel keyword in Measure
  quantify_scheduler/operations/gate_library.py
Due: end-of-file-fixer, isort, black

added change to CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Rewrote changelog entry
  CHANGELOG.md
Due: end-of-file-fixer

Authors.md :P
  AUTHORS.md
Due: end-of-file-fixer

write unit tests for mixing flag
  docs/tutorials/Compiling to Hardware.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add Measure operation to changelog
  CHANGELOG.md
Due: end-of-file-fixer

QAE-224: Remove unnecessary sequence upload and CHANGELOG edit
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

[pytest] Close all instruments at start of every test
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

changed flag name to mix_lo
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

change git merge strategy to union for changelog.md and authors.md
  .gitattributes
Due: end-of-file-fixer

Update CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Added all operations and tests for ChargeReset operation
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/nv_library.py
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, pretty-format-json, isort, black

add inputs and rename output_mode to io_mode
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
Due: end-of-file-fixer, isort, black

Add tests for port and clock
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

implemented changes suggested by reviewer
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add test for acquisition in Measure operation
  quantify_scheduler/operations/gate_library.py
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Default acquisition in NV-center Measure is TriggerCount
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

changes made to comply with codacy code quality
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Changed descriptions of functions that control the ionization laser
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Allow infrared (excl. far IR) to ultraviolett frequencies for excitation lasers
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Set red laser frequency to reasonable values
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

changed ChargeReset operation in order to comply with format proposed in MR:455
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Comply with code style "black"
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Cleaned up code
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Larger range helpful for debugging
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Fix #349
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
