Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Add test job
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

job test
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Fix for net zero compilation
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Net zero remove clock references
  docs/source/conf.py
  quantify_scheduler/operations/pulse_compensation_library.py
  quantify_scheduler/pulse_compensation.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Update MR template with changelog breaking change and link changes
  .gitlab/merge_request_templates/Default.md
Due: end-of-file-fixer

Fix StitchedPulseBuilder not taking its t0 into account for VoltageOffsets
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operations/pulse_factories.py
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
Due: end-of-file-fixer, isort, black

Add missing re import
  pyproject.toml
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

close mpl figures after each test
  tests/fixtures/generic.py
Due: end-of-file-fixer, isort, black

Fix ruff error: remove get() default None
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

Change edge finding for symmetric gates to find matching edges
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Support subschedules and control-flow in circuit diagram
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/_visualization/constants.py
  quantify_scheduler/schedules/_visualization/pulse_scheme.py
  quantify_scheduler/schedules/schedule.py
  tests/baseline_images/test_hybrid_circuit_acquisitions_matplotlib.png
  tests/baseline_images/test_hybrid_circuit_diagram_baseband_matplotlib.png
  tests/baseline_images/test_hybrid_circuit_diagram_matplotlib.png
  tests/baseline_images/test_hybrid_circuit_diagram_modulated_matplotlib.png
  tests/baseline_images/test_hybrid_circuit_diagram_unknown_port_matplotlib.png
  tests/baseline_images/test_plot_pulses_n_q.png
  tests/baseline_images/test_plot_pulses_single_q.png
  tests/scheduler/schedules/visualization/baseline/test_circuit_diagram_complex_loops.png
  tests/scheduler/schedules/visualization/baseline/test_circuit_diagram_mixed_control_flow.png
  tests/scheduler/schedules/visualization/baseline/test_circuit_diagram_one_conditional_op.png
  tests/scheduler/schedules/visualization/baseline/test_circuit_diagram_simple_loop.png
  tests/scheduler/schedules/visualization/baseline/test_circuit_diagram_simple_subschedule.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_acquisitions_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_baseband_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_modulated_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_unknown_port_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_plot_pulses_n_q.png
  tests/scheduler/schedules/visualization/baseline/test_plot_pulses_single_q.png
  tests/scheduler/schedules/visualization/test_circuit_diagram.py
Due: end-of-file-fixer, isort, black

Improve performance of resource validation
  CHANGELOG.md
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/resource.json
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix for resource validation json removal
  quantify_scheduler/resources.py
Due: end-of-file-fixer, isort, black

Net zero circuit level operation
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/pulse_compensation_library.py
  quantify_scheduler/pulse_compensation.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/device_under_test/test_spin_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Allow user to change `rel_tolerance` in `to_grid_time` function
  docs/source/conf.py
  pyproject.toml
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/resources.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_acquisitions_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_baseband_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_modulated_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_hybrid_circuit_diagram_unknown_port_matplotlib.png
  tests/scheduler/schedules/visualization/baseline/test_plot_pulses_n_q.png
  tests/scheduler/schedules/visualization/baseline/test_plot_pulses_single_q.png
Due: end-of-file-fixer, isort, black

Improving imports in quantify
  .gitignore
  docs/source/conf.py
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Compiling to Hardware.md
  docs/source/tutorials/Conditional Reset.md
  docs/source/tutorials/Operations and Qubits.md
  docs/source/tutorials/Running an Experiment.md
  docs/source/tutorials/ScheduleGettable.md
  docs/source/tutorials/Schedules and Pulses.md
  docs/source/tutorials/Timetagging.md
  quantify_scheduler/__init__.py
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/device_under_test/__init__.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/diagnostics_report.py
  quantify_scheduler/instrument_coordinator/__init__.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/qblox/__init__.py
  quantify_scheduler/qblox/operations/__init__.py
  quantify_scheduler/schedules/__init__.py
  quantify_scheduler/schedules/trace_schedules.py
  quantify_scheduler/schemas/__init__.py
  quantify_scheduler/structure/model.py
  tests/scheduler/backends/graph_backends/test_device_compile.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_pulse_library.py
  tests/scheduler/test_types.py
  tests/test_init_imports.py
Due: end-of-file-fixer, isort, black

add release notes
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/source/user/index.md
  docs/source/user/release_notes.md
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

add compatibility info to table
  README.md
Due: end-of-file-fixer

Allow user to change `rel_tolerance` in `to_grid_time` function
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Introduce trigger count bin mode to replace AVERAGE with DISTRIBUTION
  CHANGELOG.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/enums.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

Readd Operation as direct import from quantify_scheduler
  quantify_scheduler/__init__.py
Due: end-of-file-fixer, isort, black

Refactoring tests for DeviceElement
  pyproject.toml
  tests/scheduler/device_under_test/test_specific_device_element.py
  tests/scheduler/device_under_test/test_spin_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Fix qblox test: replace bad_ip with bad_ip.test
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Add versioning to qblox hardware compilation configs
  docs/source/reference/qblox/Hardware config versioning.md
  docs/source/reference/qblox/index.md
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

move eval-type-backport to requirements
  pyproject.toml
  quantify_scheduler/helpers/diagnostics_report.py
Due: end-of-file-fixer, isort, black

Add Qblox Pulse Stacking
  CHANGELOG.md
  docs/source/conf.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/stack_pulses.py
  quantify_scheduler/backends/qblox_backend.py
  tests/integration/test_timetagging.py
  tests/scheduler/backends/qblox/test_stack_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Allow `StitchedPulse(Builder)` and some waveforms to be directly imported from `qblox.operations`
  quantify_scheduler/operations/__init__.py
Due: end-of-file-fixer, isort, black

Plot the final datapoint correctly based on the waveform, instead of copying the previous one
  CHANGELOG.md
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Allow generic subschedule in conditional playback
  quantify_scheduler/backends/qblox/conditional.py
  quantify_scheduler/backends/qblox/operations/__init__.py
  quantify_scheduler/backends/qblox/operations/control_flow_library.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/operations/control_flow_library.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Change all readthedocs-hosted.com links with qblox.com/quantify-os.org links
  docs/source/conf.py
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/index.md
  docs/source/reference/qblox/recent.md
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Data aquisition: remove reshaping from schedule gettable
  docs/source/examples/deprecated.md
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Enforce two channel names for Measure operation
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/Hardware config versioning.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Conditional Reset.md
  docs/source/tutorials/Running an Experiment.md
  docs/source/tutorials/ScheduleGettable.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/hardware_config_nv_center_old_style.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_nv_center.json
  tests/integration/test_compilation_nv.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add support for fine_delay in QTM instructions
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/exceptions.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
Due: end-of-file-fixer, isort, black

clean autoapi when building documentation with make clean html
  docs/Makefile
  docs/make.bat
Due: end-of-file-fixer

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
