Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Codacy
  quantify_scheduler/operations/pulse_factories.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/device_under_test/composite_square_edge.py
Due: end-of-file-fixer, isort, black

Fixed more tests behaviour on default schedules.
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/backends/graph_backends/standard_schedules.py
Due: end-of-file-fixer, isort, black

Added flux pulse QCM to the tests
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Changelog entry for !411
  CHANGELOG.rst
Due: end-of-file-fixer

Codacy / polish
  quantify_scheduler/backends/corrections.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Removing addition to ap_reference given the upcoming move to autoapi (!413)
  docs/api_reference.rst
Due: end-of-file-fixer

changed defaults and docstring for transmon element, relates to #306
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

modified zhinst test mapping to support mw pulses on more qubits
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

Convert distortion correction test to actual case
  quantify_scheduler/backends/corrections.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Add distortion_corrections to qblox_test_mapping.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

Fix test_apply_distortion_corrections using pytest.approx
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Move distortion correction below config file conversion
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Add logging setup back in
  quantify_scheduler/backends/corrections.py
Due: end-of-file-fixer, isort, black

Changelog; Codacy
  CHANGELOG.rst
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

include bibliography
  docs/bibliography.rst
Due: end-of-file-fixer

update jupyter-sphinx
  docs/tutorials/Tutorial 1. basic experiment.rst.py
  docs/tutorials/zhinst/T_verification_programs.rst.py
  requirements_dev.txt
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

update jsonschema references with absolute paths
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

add api references and bibliography to TOC
  docs/index.rst
Due: end-of-file-fixer

textual changes
  CHANGELOG.rst
  docs/tutorials/qblox/index.rst
  docs/tutorials/zhinst/index.rst
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/structure/model.py
Due: end-of-file-fixer, isort, black

fixed warnings caused by autoapi
  docs/conf.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fixed sphinx-jsonschema requirement
  requirements_dev.txt
Due: end-of-file-fixer

suggestions
  docs/bibliography.rst
  docs/conf.py
  docs/index.rst
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
  requirements_dev.txt
Due: end-of-file-fixer, isort, black

fixed typo in json schemas reference
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fixed typo in jsonschema reference
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Docstring
  quantify_scheduler/backends/corrections.py
Due: end-of-file-fixer, isort, black

Codacy & some docstring fixes
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

layout update
  docs/conf.py
  quantify_scheduler/__init__.py
  quantify_scheduler/compilation.py
  quantify_scheduler/instrument_coordinator/__init__.py
Due: end-of-file-fixer, isort, black

move pylint outside of docstrings
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

cleanup conf.py
  docs/conf.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/device_under_test/edge.py
Due: end-of-file-fixer, isort, black

fix codacy issue
  quantify_scheduler/operations/operation.py
Due: end-of-file-fixer, isort, black

update change log
  CHANGELOG.rst
Due: end-of-file-fixer

remove broken link
  CHANGELOG.rst
  docs/installation.rst
Due: end-of-file-fixer

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Add test_trace_acquisition
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Add test_trace_acquisition_seq0_error
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Print compiled schedule upon failure
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Update _get_schedule_time: fixed issues with accuracy and parallel operations and inclusion of schedule repetitions.
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black
