Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Implement suggested restructuring zhinst compile_backend
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Fix typos
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Update docstring set_pulse_and_acquisition_clock
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Fix typo in warning message
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Update hardware backend docstrings
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Update DeviceCompilationConfig and OperationCompilationConfig docstrings
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Reference full QuantifyCompiler class
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

This MR no longer introduces breaking changes
  CHANGELOG.md
Due: end-of-file-fixer

Fix acquisition reformatting errors
  CHANGELOG.md
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

hotfix: quantify raises unclear AttributeError when importing qblox module due to unsupported qblox-instruments version
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Release 0.12.2
  CHANGELOG.md
  frozen_requirements/frozen-requirements-0.10.0.txt
  frozen_requirements/frozen-requirements-0.10.1.txt
  frozen_requirements/frozen-requirements-0.11.0.txt
  frozen_requirements/frozen-requirements-0.11.1.txt
  frozen_requirements/frozen-requirements-0.12.1.txt
  frozen_requirements/frozen-requirements-0.12.2.txt
  frozen_requirements/frozen-requirements-0.5.1.txt
  frozen_requirements/frozen-requirements-0.5.2.txt
  frozen_requirements/frozen-requirements-0.6.0.txt
  frozen_requirements/frozen-requirements-0.7.0.txt
  frozen_requirements/frozen-requirements-0.8.0.txt
  frozen_requirements/frozen-requirements-0.9.0.txt
Due: end-of-file-fixer

start development of v0.12.3
  CHANGELOG.md
Due: end-of-file-fixer

Fix copy paste error and comment move
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Remove reference to the grid time in comment
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Changelog merge with main fix
  CHANGELOG.md
Due: end-of-file-fixer

Replace references to qcompile in docs/docstrings
  docs/images/experiments_control_flow.svg
  docs/tutorials/zhinst/index.md
  docs/user_guide.md
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Apply 6 suggestion(s) to 2 file(s)
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Bump PyPi development status to Beta
  pyproject.toml
Due: end-of-file-fixer

Polish docs
  .gitlab/issue_templates/Defect.md
  README.md
  docs/conf.py
  docs/index.md
  docs/readme.md
  docs/tutorials/qblox/Cluster.md
Due: end-of-file-fixer, isort, black

Fix indent
  docs/tutorials/qblox/Cluster.md
Due: end-of-file-fixer

Update signatures circuit_to_device and set_pulse_acq_clock
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Update error, warning messages and docstrings circuit_to_device and set_pulse_acq_clock
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

More updates to warning messages and docstrings
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Update HW backend function signatures, error/warning messages, docstrings
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Move import to TYPE_CHECKING
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Revert "Move import to TYPE_CHECKING"
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Update add_pulse_information_transmon function signature, error/warning messages, docstring
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

make casing of quantify more consistent
  CONTRIBUTING.md
  README.md
  docs/installation.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/user_guide.md
Due: end-of-file-fixer

consistent syntax highlighting for quantify-scheduler/core
  README.md
  docs/installation.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Hello World.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/user_guide.md
Due: end-of-file-fixer

basic spelling and grammar improvements
  docs/installation.md
  docs/quantify_compilers.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/index.md
  docs/tutorials/qblox/recent.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/tutorials/zhinst/index.md
  docs/user_guide.md
Due: end-of-file-fixer

remove unfinished tutorial
  docs/tutorials/Hello World.md
Due: end-of-file-fixer

Apply 5 suggestion(s) to 2 file(s)
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
Due: end-of-file-fixer

Release 0.12.3
  CHANGELOG.md
  frozen_requirements/frozen-requirements-0.12.3.txt
Due: end-of-file-fixer

Start development of v0.12.4
  CHANGELOG.md
Due: end-of-file-fixer

Change to quantify-scheduler as package name
  README.md
Due: end-of-file-fixer

Configure ruff and pyright for linting
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: end-of-file-fixer, check-yaml

Improve efficiency of plot_pulse_diagram for matplotlib backend (QAE-967)
  CHANGELOG.md
  docs/tutorials/Operations and Qubits.md
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  tests/scheduler/schedules/visualization/test_pulse_diagram.py
Due: end-of-file-fixer, isort, black

Update comments in pre-commit-config
  .pre-commit-config.yaml
Due: end-of-file-fixer, check-yaml

Docstring and error/warning message polish
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black
