Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Ruff
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Ruff...
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
Due: end-of-file-fixer, isort, black

make name uniqueness check of schedulables more readable and efficient
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Update defect template to add quantify-core version
  .gitlab/issue_templates/Defect.md
Due: end-of-file-fixer

Simplify code syntax
  CHANGELOG.md
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

Fast nco sweep in nv spectroscopy schedule
  CHANGELOG.md
  quantify_scheduler/schedules/spectroscopy_schedules.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, isort, black

Return datasets from ZI UHFQA instrument coordinator component
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_zhinst.py
Due: end-of-file-fixer, isort, black

Move latency corrections to hardware options
  CHANGELOG.md
  docs/tutorials/zhinst/index.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Rename `hw_mapping` to `instrument_cfg` in InstrumentCompiler and up
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix typehints of ref_op
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

make docstring ruff compliant
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Raise exception when compiled schedule exceeds waveform sample limit
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/device_under_test/nv_element.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Move distortion corrections to hardware options
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Revert: sequentially averaging over repeated measures per clock freq
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Rename MAX_SAMPLE_SIZE_ACQUISITIONS constant (QAE-949)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Forbid same acquisition index for channel (QAE-1045)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

default merge strategy for CHANGELOG.md
  .gitattributes
Due: end-of-file-fixer

Reverting back to default merge strategy for CHANGELOG.md
  .gitattributes
  CHANGELOG.md
Due: end-of-file-fixer

Fix documentation warnings and errors (QAE-1057)
  CHANGELOG.md
  docs/Makefile
  docs/conf.py
  docs/installation.md
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/Schedules and Pulses.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/Pulsar.md
  docs/tutorials/qblox/index.md
  docs/tutorials/zhinst/T_verification_programs.md
  docs/tutorials/zhinst/index.md
  docs/user_guide.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  quantify_scheduler/structure/model.py
Due: end-of-file-fixer, isort, black

Document acquisition data format (QAE-991)
  CHANGELOG.md
  docs/user_guide.md
Due: end-of-file-fixer

Update tests from hardware_compile & device_compile to SerialCompiler
  CHANGELOG.md
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Alternative structure hardware options
  CHANGELOG.md
  docs/tutorials/Operations and Qubits.md
  docs/tutorials/zhinst/T_verification_programs.md
  pyproject.toml
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/schemas/examples/device_example_cfgs.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Move Pulsar references in Qblox example hardware config to fixtures (QAE-937)
  CHANGELOG.md
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/conftest.py
  tests/fixtures/mock_setup.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

New Tutorial: Running an Experiment
  docs/_static/quantify_scheduler.css
  docs/examples/dataset.hdf5
  docs/index.md
  docs/tutorials/Running an Experiment.md
  docs/tutorials/zhinst/index.md
Due: end-of-file-fixer

fix typo in tutorial
  docs/tutorials/Running an Experiment.md
Due: end-of-file-fixer

Weighted acquisitions in quantify
  CHANGELOG.md
  docs/conf.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/waveforms.py
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Change Default Marker Behaviour
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Hotfix: Allow waveform durations that are not a multiple of grid time
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/operations/pulse_factories.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_pulse_factories.py
Due: end-of-file-fixer, isort, black

Marker only high when pulsing
  CHANGELOG.md
  docs/tutorials/qblox/Cluster.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Resolve "Create pydantic schema for ModulationFrequencies"
  CHANGELOG.md
  docs/tutorials/zhinst/T_verification_programs.md
  pytest.ini
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/helpers/collections.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  quantify_scheduler/structure/model.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

QAE-1039: Minor release to support qblox-instruments-0.10.0
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
Due: end-of-file-fixer, isort, black

QAE-1039: Fix tests for new qblox-instruments version
  pyproject.toml
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-1039: Release version change
  CHANGELOG.md
Due: end-of-file-fixer

QAE-1039: Dependency specification fix for qblox-instruments
  pyproject.toml
Due: end-of-file-fixer

QAE-1039: Fix test mocking
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

QAE-1039: Add frozen_requirements
  frozen_requirements/frozen-requirements-0.13.0.txt
Due: end-of-file-fixer

Update dep description
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
Due: end-of-file-fixer, isort, black
