Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Improve error message for missing IC components
  CHANGELOG.md
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  tests/conftest.py
  tests/fixtures/qcodes_utilities.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
Due: end-of-file-fixer, isort, black

Fix ruff issue in gettables.py
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

Fix Codacy badge links (app.codacy.com)
  README.md
Due: end-of-file-fixer

Prevent uploading of null waveforms (QAE-1193)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/device_under_test/mock_setup.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/acq_protocol_append_mode_ssro_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/acq_protocol_average_mode_allxy_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/baseline_qblox_assembly/sched-looped-acq_qrm0_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Backend-specific HardwareCompilationConfig
  CHANGELOG.md
  docs/conf.py
  docs/tutorials/Compiling to Hardware.md
  docs/tutorials/Running an Experiment.md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/recent.md
  docs/tutorials/zhinst/index.md
  docs/user_guide.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/enums.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  quantify_scheduler/schemas/examples/zhinst_hardware_compilation_config.json
  quantify_scheduler/structure/model.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Unpin dataclasses-json
  pyproject.toml
Due: end-of-file-fixer

Refactor logic for checking schedulable uniqueness and reference schedulable existence out of `Schedulable` to `Schedule` (SE-220)
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Ruff
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Changing default value of ref_pt and ref_pt_new
  CHANGELOG.md
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Zhinst backend - Decapitalize mixer offset keys in pre-validator
  CHANGELOG.md
  quantify_scheduler/backends/types/zhinst.py
Due: end-of-file-fixer, isort, black

Qblox backend - Fix multiqubit rf switches
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Docs - Fix broken list bullets on Read-the-Docs by enforcing `sphinx-rtd-theme>=1.2.2`
  CHANGELOG.md
  pyproject.toml
Due: end-of-file-fixer

Fix time array in interpolated complex waveform
  CHANGELOG.md
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

Silence pyright
  quantify_scheduler/operations/stitched_pulse.py
Due: end-of-file-fixer, isort, black

Qblox backend: make acquire_append and acquire_average methods private (SE-219)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Fixes for Acquistions tutorial
  CHANGELOG.md
  docs/tutorials/Acquisitions.md
  docs/tutorials/ScheduleGettable.md
Due: end-of-file-fixer

Fix repr collisions
  CHANGELOG.md
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/schedule.py
  tests/integration/test_compilation_nv.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Qblox backend - Extend `to_grid_time` to check for integer multiple of 1ns
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend - `rel_tol` must be greater than zero
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Qblox backend - Resolve "Overwriting pulses does not give a warning"
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend - Reinstate `rel_tol=0` and add more test cases plus comments/docstring/rename to `is_within_half_grid_time` (revert quantify-scheduler!752)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix qblox links
  docs/tutorials/qblox/Cluster.md
Due: end-of-file-fixer

fix pipeline for Channel map update
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

[Hotfix] Qblox backend - Fix channel map for inputs
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

[Documentation] Qblox backend - Restore pre-HardwareCompilationConfig docs
  CHANGELOG.md
  docs/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/tutorials/qblox/Cluster.md
  docs/tutorials/qblox/How to use.md
  docs/tutorials/qblox/index.md
  docs/tutorials/qblox/recent.md
  docs/user_guide.md
Due: end-of-file-fixer

Fix broken xarray display in docs (propagate from quantify-core!470)
  CHANGELOG.md
  docs/_static/quantify_scheduler.css
Due: end-of-file-fixer

Release 0.16.0
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.16.0.txt
Due: end-of-file-fixer

Start development of v0.16.1
  CHANGELOG.md
Due: end-of-file-fixer

Update New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Fix new Ruff rule for check=True in subprocess.run
  CHANGELOG.md
  quantify_scheduler/helpers/inspect.py
Due: end-of-file-fixer, isort, black

add scheduling_strategy parameter to QuantumDevice and DeviceCompilationConfig
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

[Qblox] Make columning optional (SE-231)
  CHANGELOG.md
  docs/_static/quantify_scheduler.css
  docs/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/tutorials/qblox/Cluster.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  tests/baseline_qblox_assembly/acq_protocol_append_mode_ssro_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/acq_protocol_average_mode_allxy_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/empty_qasm_program.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Performance improvements
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/helpers/collections.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/stitched_pulse.py
Due: end-of-file-fixer, isort, black

use new qcodes syntax for adding parameters (QAE-1247 #427)
  AUTHORS.md
  CHANGELOG.md
  quantify_scheduler/device_under_test/composite_square_edge.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/helpers/mock_instruments.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  tests/scheduler/instrument_coordinator/test_utility.py
Due: end-of-file-fixer, isort, black

Fix gitlab pipeline is missing images
  .ci/Dockerfile
  CHANGELOG.md
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Add function for generating diagnostic reports of quantify experiments and Qblox hardware (QAE-95)
  CHANGELOG.md
  docs/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/tutorials/qblox/Cluster.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/diagnostics_report.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/instrument_coordinator/components/generic.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  tests/conftest.py
  tests/fixtures/generic.py
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/fixtures/mock_api.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Remove pulsar rf code: rewrite pulsar rf fixtures to use clusters and remove support code (SE-71)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

[Documentation] Qblox backend - Explain in docs the possibility of defining both playbacks and acquisitions when io_name = *_output_*
  CHANGELOG.md
  docs/tutorials/qblox/Cluster (HardwareCompilationConfig).md
  docs/tutorials/qblox/Cluster.md
Due: end-of-file-fixer

Update AUTHORS.md to Gitlab accounts
  AUTHORS.md
Due: end-of-file-fixer

Update AUTHORS.md missing
  AUTHORS.md
Due: end-of-file-fixer

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
