Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

tutorial 3: HW config text update
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

incorporate the comments by Fokko
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

black
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Mentioned that qcompile returns CompiledSchedule
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

update section intro
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

GenericComponent clarifications
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Remove device compile from tutorial 3
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

tutorial 3: mention all IC functions
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Added header to mock_instruments.py
  quantify_scheduler/helpers/mock_instruments.py
Due: end-of-file-fixer, isort, black

Changelog: mentioned mock_instruments.py
  CHANGELOG.rst
Due: end-of-file-fixer

Updated changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Changelog for 0.7.0
  CHANGELOG.rst
Due: end-of-file-fixer

Add frozen-requirements-0.7.0.txt
  frozen_requirements/frozen-requirements-0.7.0.txt
Due: end-of-file-fixer

Bump to version 0.7.0
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

Add used clocks in for loop instead of using map()
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Bump to version 0.7.0 cont'd
  quantify_scheduler/__init__.py
Due: end-of-file-fixer, isort, black

Qblox backend: changed naming from targets to portclock_configs
  docs/tutorials/qblox/Cluster.rst
  docs/tutorials/qblox/Pulsar.rst
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Updated docs text to reflect dynamic allocation
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

Update .gitlab/merge_request_templates/New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Simplify code and some polish
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Fix wrong naming
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Remove stray return statement
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Fix Codacy issues
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Add test_only_add_clocks_used
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Try to silence Codacy
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Revert trying to silence Codacy
  quantify_scheduler/backends/circuit_to_device.py
Due: end-of-file-fixer, isort, black

Move to sphinx 4.5.0, fixing incompatibility with qcodes 0.33.0 (mirroring https://gitlab.com/quantify-os/quantify-core/-/merge_requests/317)
  docs/Makefile
  docs/make.bat
  requirements_dev.txt
Due: end-of-file-fixer

Not pinning sphinx because of the multitude of packages/extensions depending on it; Remove pin on qcodes
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer

Round up waveform sample size and add test_generate_waveform_data_sample_size
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Sample size in generate_waveform_data is determined by rounding to nearest integer
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Quickly remove stray print
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Docs: fixed missing bracked bug
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

Pulsar.rst sentence change
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

qblox backend updated docstring
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Raises error if portclock_configs is not present
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

add `acq_protocol` parameter to Measure gate
  CHANGELOG.rst
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/schemas/examples/circuit_to_device_example_cfgs.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

apply code review suggestions
  CHANGELOG.rst
  quantify_scheduler/operations/gate_library.py
Due: end-of-file-fixer, isort, black

Added test for QbloxBaseModule.portclocks
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Added missing import
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
