Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Qblox backend - Some style refactors as prep for QTM !937
  CHANGELOG.md
  docs/source/conf.py
  pyproject.toml
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Make zhinst dependencies optional and enable python3.10+ compatibility
  CHANGELOG.md
  docs/source/reference/zhinst/index.md
  docs/source/user/installation.md
  pyproject.toml
  pytest.ini
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst/__init__.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compatibility_check.py
  quantify_scheduler/enums.py
  quantify_scheduler/instrument_coordinator/components/zhinst.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/operation.py
  setup.py
  tests/__init__.py
  tests/conftest.py
  tests/fixtures/mock_setup.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_verification.py
  tests/scheduler/test_compatibility_check.py
  tests/scheduler/test_corrections.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Make transmon tests compatible with QbloxHardwareCompilationConfig validation
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/qblox_hardware_config_old_style.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/schemas/examples/qblox_hardware_compilation_config.json
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Qblox backend - Allow operations to live on a 1ns timegrid
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/operations/pulse_factories.py
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_pulse_factories.py
Due: end-of-file-fixer, isort, black

Release 0.20.0
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements.txt
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
Due: end-of-file-fixer, isort, black

update changelog for 0.20.1 development
  CHANGELOG.md
Due: end-of-file-fixer

replace jle with jlt
  CHANGELOG.md
  quantify_scheduler/backends/qblox/q1asm_instructions.py
Due: end-of-file-fixer, isort, black

Convert transmon-specific hardware configs in test suite and docs to new style
  CHANGELOG.md
  docs/source/dev/profiling/multidim_batched_sweep.py
  docs/source/dev/profiling/random_gates.py
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/dev/profiling/simple_binned_acquisition.py
  docs/source/reference/qblox/recent.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/ScheduleGettable.md
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/test_gettables_qblox.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Allow any clock name for digital channels
  CHANGELOG.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Refactor Qblox compiler and add QTM-related classes
  CHANGELOG.md
  docs/source/conf.py
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, isort, black

Fix large warning message spam in tests
  CHANGELOG.md
  quantify_scheduler/device_under_test/transmon_element.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, isort, black

Add interface for hardware distortion correction protocols
  CHANGELOG.md
  docs/source/examples/deprecated.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/enums.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qblox_hardware_config_old_style.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Release 0.20.1
  CHANGELOG.md
  README.md
  docs/source/reference/qblox/recent.md
  frozen_requirements/frozen-requirements.txt
Due: end-of-file-fixer

start development v0.20.2
  CHANGELOG.md
Due: end-of-file-fixer

fix ruff linter
  .pre-commit-config.yaml
  pyproject.toml
Due: end-of-file-fixer, check-yaml

Improve error message for conflicting acquisition protocols
  CHANGELOG.md
  quantify_scheduler/helpers/schedule.py
  tests/conftest.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

Qblox backend - Change update param insertion logic
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/diagnostics_report.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Update test_compile_cz_gate with new hardware config
  CHANGELOG.md
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Change GitLab default template for automatic Performance metrics
  .gitlab/merge_request_templates/Default.md
Due: end-of-file-fixer

Fix TriggerCount docs for APPEND mode
  CHANGELOG.md
  docs/source/reference/acquisition_protocols.md
  docs/source/tutorials/Acquisitions.md
Due: end-of-file-fixer

Introduce proper control flow handling
  CHANGELOG.md
  docs/source/examples/deprecated.md
  docs/source/reference/conditional_playback.md
  docs/source/reference/control_flow.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/trace_schedules.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_end_to_end.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

fix overlapping operations warning due to floating point rounding errors
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Quickfix resources for subschedules
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Remove deprecated code from circuit_to_device.py
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/graph_compilation.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Make nv center tests compatible with QbloxHardwareCompilationConfig validation
  CHANGELOG.md
  docs/source/examples/hardware_config_migration.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/How to use.md
  docs/source/tutorials/Acquisitions.md
  docs/source/user/quantify_compilers.md
  docs/source/user/user_guide.md
  quantify_scheduler/backends/qblox/hardware_config_nv_center_old_style.py
  quantify_scheduler/backends/qblox/hardware_config_transmon_old_style.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_nv_center.json
  quantify_scheduler/schemas/examples/qblox_hardware_config_transmon.json
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_end_to_end.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/schedules/test_control_flow.py
  tests/scheduler/schemas/examples/test_utils.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add compilation of MarkerPulse for QTM
  CHANGELOG.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/factory_analog.py
  quantify_scheduler/backends/qblox/operation_handling/factory_common.py
  quantify_scheduler/backends/qblox/operation_handling/factory_timetag.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/q1asm_instructions.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix subschedule serialization
  CHANGELOG.md
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Fix tau definitions in time domain schedules
  CHANGELOG.md
  quantify_scheduler/schedules/timedomain_schedules.py
Due: end-of-file-fixer, isort, black

Remove warning when latency corrections are not on a 4ns timegrid for Qblox backend
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add copy button to documentation code cells
  docs/source/conf.py
  pyproject.toml
Due: end-of-file-fixer, isort, black

add support for subschedules in Schedule helpers functions
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/helpers/schedule.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Add TriggerCount compilation for QTM
  CHANGELOG.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Trigger count.md
  docs/source/reference/qblox/index.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/factory_timetag.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/operations/acquisition_library.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
Due: end-of-file-fixer, isort, black

Tests - Add nv centers to test_extract_instrument_compiler_configs
  CHANGELOG.md
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend - Insert LatchReset only on necessary sequencers
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operations/pulse_library.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Deprecate old-style hardware config
  CHANGELOG.md
  docs/source/examples/hardware_config_migration.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Cluster (HardwareCompilationConfig).md
  docs/source/reference/qblox/Cluster.md
  docs/source/reference/qblox/How to use.md
  docs/source/reference/qblox/index.md
  docs/source/reference/qblox/recent.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Compile dispersive measurements to subschedules
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/schedules/schedule.py
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

pin numpy version to <2.0 if using python 3.9
  CHANGELOG.md
  pyproject.toml
Due: end-of-file-fixer

Minimal refactor on ConditionalReset
  quantify_scheduler/backends/qblox/operations/gate_library.py
Due: end-of-file-fixer, isort, black

Remove unnecessary schedule helper functions
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/helpers/schedule.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
