Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

InstrumentModule requires qcodes 0.32.0
  requirements.txt
Due: end-of-file-fixer

Updated NV real input test
  quantify_scheduler/device_under_test/nv_element.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Including fix for turning nco of: interm_freq = 0.
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Included test for real output and real input. Both are played on a different sequencer. The nco is disabled in the input.
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Worked on test for complex_input but not complete. Fixed bug in assign_frequencies
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Compilation test passes and fixed cr count operation is now correct
  quantify_scheduler/operations/nv_native_library.py
  tests/integration/test_compilation_nv.py
Due: end-of-file-fixer, isort, black

Corrected naming mistakes
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/nv_native_library.py
Due: end-of-file-fixer, isort, black

Added necessary cluster modules
  quantify_scheduler/schemas/examples/qblox_test_mapping_nv_centers.json
Due: end-of-file-fixer, pretty-format-json

Rename instrument_channel -> _instrument_module. Use instrument in public API.
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Cosmetics
  CHANGELOG.md
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Make imports more concise
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Comply with codacy standards
  quantify_scheduler/operations/measurement_factories.py
Due: end-of-file-fixer, isort, black

Underscore for easier readability
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Docstring describes general behaviour
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Qblox backend - Minor compilation adjustments for NCO redesign (QAE-460)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  requirements.txt
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix tests.
  quantify_scheduler/device_under_test/mock_setup.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Fix codacy, and allow for InstrumentBase in genericinstrumentcoordinatorcomponent.
  quantify_scheduler/instrument_coordinator/components/generic.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

QAE-529: Updated with small suggestions from the MR
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/gettables.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-529: Replace some asserts used for business logic checks
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/math.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

QAE-529: Fixes for f strings
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

Updated the complex_input acquisition test.
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Change remaining instrument_channel to instrument_module; Change to instrument_module/channel test to not use Pulsar component
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

QAE-529: Small reformattings after review
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-529: Modify changelog and redundant double filtering
  CHANGELOG.md
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

Hotfix "#348: Docs fail, CI passes" - fix failing Operations and Qubits tutorial (QAE-665)
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

turn off nco when frequency is 0
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Changelog modification for qblox-instruments==0.8
  CHANGELOG.md
Due: end-of-file-fixer

QAE-324: Update qblox-instruments version and CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

QAE-324: Add pulse_library, test_helpers_qblox tests
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-324: Reformatting due to rebasing
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-324: Ability for user to change the frequency of the clock in schedule
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/q1asm_instructions.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-324: Small refactorings after review
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Qblox backend - Minor compilation adjustments for NCO redesign (QAE-460)
  CHANGELOG.md
Due: end-of-file-fixer

QAE-324: Add tests for virtual
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

QAE-324: Modifications related to review suggestions
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-324: Changelog fix
  CHANGELOG.md
Due: end-of-file-fixer

QAE-324: Changelog typo fix
  CHANGELOG.md
Due: end-of-file-fixer

Documentation build will now fail after a CellExecutionError (QAE-665)
  CHANGELOG.md
  docs/conf.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
