Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Introduce spin edge and spin init operation
  quantify_scheduler/device_under_test/spin_edge.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/spin_library.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/device_under_test/test_composite_square_edge.py
  tests/scheduler/device_under_test/test_edge.py
Due: end-of-file-fixer, isort, black

Fix tests for TTL acquisition
  quantify_scheduler/backends/qblox/hardware_config_nv_center_old_style.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_nv_center.json
  tests/integration/test_compilation_nv.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix propagation of digitization_thresholds to the compiled settings
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix thresholded NaN values in Qblox backend
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

(Re)load and write hardware configuration from and to file
  quantify_scheduler/device_under_test/hardware_config.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/scheduler/device_under_test/test_hardware_config.py
Due: end-of-file-fixer, isort, black

update docstrings for device elements
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

update serialization page
  docs/source/examples/serialization.md
Due: end-of-file-fixer

Allow (de)serialization of device elements
  AUTHORS.md
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/json_utils.py
  tests/scheduler/device_under_test/test_device_element.py
  tests/scheduler/device_under_test/test_quantum_device.py
Due: end-of-file-fixer, isort, black

Qblox Compensation Matrix
  CHANGELOG.md
  quantify_scheduler/backends/qblox/crosstalk_compensation.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  tests/scheduler/backends/qblox/test_crosstalk_compensation.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Remove old deprecated code
  docs/source/conf.py
  docs/source/examples/deprecated.md
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/operations/stitched_pulse.py
  quantify_scheduler/qblox/operations/__init__.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/qblox/test_hardware_config.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_pulse_compensation.py
  tests/scheduler/test_pulse_library.py
  tests/test_init_imports.py
Due: end-of-file-fixer, isort, black

Release v0.22.0
  .gitlab/merge_request_templates/New release.md
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/source/conf.py
  docs/source/images/before-after-pulses.png
  docs/source/user/index.md
  docs/source/user/release_notes.md
  pyproject.toml
Due: end-of-file-fixer, isort, black

remove sqlalchemy dependency
  quantify_scheduler/schedules/_visualization/pulse_scheme.py
Due: end-of-file-fixer, isort, black

Fix pydantic model validation for SerialCompilationConfig
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/mock/mock_rom.py
  quantify_scheduler/backends/types/common.py
Due: end-of-file-fixer, isort, black

Release v0.22.1
  CHANGELOG.md
  RELEASE_NOTES.md
Due: end-of-file-fixer

Fix Windows test and new Ruff rules
  pyproject.toml
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst/settings.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/hardware_config.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Refactoring: create get_used_port_clocks attribute instead of _extract_port_clocks_used
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_schedule.py
Due: end-of-file-fixer, isort, black

Fix NV element (de)serialization
  pyproject.toml
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/shared_native_library.py
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Fix pyright error verifying __name__ not on objects
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

Add bin mode SUM for TriggerCount (and fix docs for bin mode DISTRIBUTION)
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/qblox/operation_handling/bin_mode_compat.py
  quantify_scheduler/backends/qblox/operation_handling/factory_analog.py
  quantify_scheduler/backends/qblox/operation_handling/factory_timetag.py
  quantify_scheduler/enums.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/end_to_end/__init__.py
  tests/scheduler/backends/qblox/end_to_end/operations/__init__.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_trigger_count.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Remove all instances of from_dict and to_dict
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/backends/qblox/test_end_to_end.py
  tests/scheduler/backends/qblox/test_gettables_qblox.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Add thresholded trigger count acquisition
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/tutorials/Acquisitions.md
  docs/source/tutorials/Conditional Reset.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/hardware_config_nv_center_old_style.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/bin_mode_compat.py
  quantify_scheduler/backends/qblox/operation_handling/factory_analog.py
  quantify_scheduler/backends/qblox/operation_handling/factory_timetag.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/enums.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/examples/qblox_hardware_config_nv_center.json
  tests/integration/test_compilation_nv.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_thresholded_trigger_count.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

update conditional playback documentation
  docs/source/reference/conditional_playback.md
  quantify_scheduler/backends/qblox/operations/control_flow_library.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/qblox/operations/__init__.py
Due: end-of-file-fixer, isort, black

Perform an upd_param instruction instead of a wait when amplitude of a pulse is too low
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/operations/pulse_factories.py
  quantify_scheduler/schedules/timedomain_schedules.py
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix failing mpl test
  tests/scheduler/schedules/visualization/baseline/test_plot_pulses_single_q.png
  tests/scheduler/schedules/visualization/test_pulse_scheme.py
Due: end-of-file-fixer, isort, black

Update broken link in RELEASE_NOTES.md
  RELEASE_NOTES.md
Due: end-of-file-fixer

Remove prospector from dev requirements
  pyproject.toml
Due: end-of-file-fixer

Update copyright with new year, tiny fix with ruff update in docstring
  docs/source/conf.py
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

Hotfix in channel_name_measure in Qblox hardware config process
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/qblox/test_hardware_config.py
Due: end-of-file-fixer, isort, black

Introduce new acquisition channels mapping for future use
  docs/source/conf.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/helpers/generate_acq_channels_data.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedule.json
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/test_gettables_qblox.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_generate_acq_channels_data.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Improve profiling tool to run on hardware
  docs/source/dev/profiling/configs/config_file_with_each_modules.json
  docs/source/dev/profiling/configs/tuning_spin_coupled_pair_hardware_config.json
  docs/source/dev/profiling/configs/tuning_transmon_coupled_pair_hardware_config.json
  docs/source/dev/profiling/devices/spin_device_2q.json
  docs/source/dev/profiling/devices/transmon_device_2q.json
  docs/source/dev/profiling/loops_with_measurements.py
  docs/source/dev/profiling/metrics.py
  docs/source/dev/profiling/multidim_batched_sweep.py
  docs/source/dev/profiling/profiling.ipynb
  docs/source/dev/profiling/random_gates.py
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/dev/profiling/simple_binned_acquisition.py
  docs/source/dev/profiling/utils.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add tutorial for device overrides feature
  docs/source/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Fix small documentation generation mistake to use note instead of info
  docs/source/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Add CZ and CNOT to the spin edge
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/device_under_test/spin_edge.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/pulse_factories.py
  tests/scheduler/device_under_test/test_edge.py
  tests/scheduler/operations/test_pulse_factories.py
Due: end-of-file-fixer, isort, black

Add PulseCompensation to imports
  quantify_scheduler/operations/__init__.py
  tests/test_init_imports.py
Due: end-of-file-fixer, isort, black

Fix gate-level pulse compensation operation compiling
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/test_pulse_compensation.py
Due: end-of-file-fixer, isort, black

Release v0.22.2
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/source/tutorials/Operations and Qubits.md
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
Due: end-of-file-fixer, isort, black

Rename "qubit" references to device element internally, and in argument docstrings
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operations/control_flow_library.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/composite_factories.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_compensation_library.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/operations/shared_native_library.py
  quantify_scheduler/operations/spin_library.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/trace_schedules.py
  quantify_scheduler/schemas/operation.json
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
