Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

add test for snapshot
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

wip
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

update test for snapshot
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

fixed codacy issues and other minor formatting issues
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

codacy
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

fixed edge cases caught by tests
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Rename tutorial files and refs; Some polish
  README.rst
  docs/index.rst
  docs/tutorials/Compiling to Hardware.rst.py
  docs/tutorials/Operations and Qubits.rst.py
  docs/tutorials/Schedules and Pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

converted docs to markdown and updated changelog
  CHANGELOG.rst
  docs/compilation_backends.md
  docs/compilation_backends.rst
  docs/conf.py
  requirements_dev.txt
Due: end-of-file-fixer, isort, black

Black & Codacy :fingers_crossed:
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

integrated the compilation backends in the user guide
  docs/conf.py
  docs/user_guide.rst
Due: end-of-file-fixer, isort, black

removed some unused imports
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Proofreading and tweaks
  README.rst
  docs/tutorials/Compiling to Hardware.rst.py
  docs/tutorials/Operations and Qubits.rst.py
  docs/tutorials/Schedules and Pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Black
  docs/tutorials/Compiling to Hardware.rst.py
  docs/tutorials/Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

address comment konstantin
  docs/compilation_backends.md
Due: end-of-file-fixer

codacy nits
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/gettables.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/test_graph_compilation.py
Due: end-of-file-fixer, isort, black

Update tests seq_fn => sequence
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add very preliminary tutorial for NV centers
  docs/refs.bib
  docs/tutorials/Tutorial_NV_DarkESR.md
Due: end-of-file-fixer

Add dependencies for notebooks in MyST markdown
  CHANGELOG.rst
  docs/conf.py
  requirements_dev.txt
Due: end-of-file-fixer, isort, black

Black & Codacy
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Fix failing tutorial
  docs/tutorials/Tutorial 1. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Fix unresolved merge conflict
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Made SpectroscopyPulse operation name more general
  docs/tutorials/Tutorial_NV_DarkESR.md
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Condacy: specify encoding
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add tests for hermite waveform
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

reworked measurement clock phase reset
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

replaced phase keyword with phase_shift for clock operations
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

codacy updates
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

phase shift operations now correctly use `phase_shift` keyword
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

cleanup
  quantify_scheduler/operations/gate_library.py
Due: end-of-file-fixer, isort, black

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Changelog
  CHANGELOG.rst
Due: end-of-file-fixer

improved docstring and naming of mock setup functions
  docs/compilation_backends.md
  quantify_scheduler/device_under_test/mock_setup.py
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

Update profiled_gettables.py
  quantify_scheduler/gettables_profiled.py
Due: end-of-file-fixer, isort, black

Avoid misunderstandings: SkewedHermitePulse is generalization of hermite pulse
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

More widely use of load_example_transmon_config, load_example_qblox_hardware_config; Change fixtures to yield
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

load_legacy_transmon_config => load_example_transmon_config
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
