Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

adapt CI pipeline from quantify-os/ci
  .ci/Dockerfile
  .gitlab-ci.yml
  docker/unix/Dockerfile_python37
  docker/unix/Dockerfile_python38
  docker/unix/Dockerfile_python39
  docker/unix/Dockerfile_python_latest
  docker/windows/Dockerfile_python37
  docker/windows/Dockerfile_python38
  docker/windows/Dockerfile_python39
  docker/windows/Dockerfile_python_latest
  setup.py
Due: end-of-file-fixer, check-yaml, isort, black

use typing.Literal instead of typing_extension one
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/visualization/pulse_diagram.py
  requirements.txt
Due: end-of-file-fixer, isort, black

Removed unused code from tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Removed duplication
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Fixes the zhinst package version.
  requirements.txt
Due: end-of-file-fixer

POC: Correcting distortions directly via Qblox backend
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Tweak _construct_sequencers docstring
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Qblox backend helpers corrected typo
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Qblox backend helpers corrected typehint
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Qblox backend: added helper function to upgrade hwconfig to !328
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Qblox backend: raises error if portclock_configs not in mapping
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Qblox backend: updated test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend: Added error message for pre-MR328 configs
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend: extra error flag for missing portclock_configs
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Qblox backend: Added test for hw_config migrator function
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Codacy
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Apply correction to all waveform components in composite waveform
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Feedback pt1
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Reference to tutorial 5
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

removed unused imports
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

apply suggestion
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

portclock_configs changed formatting
  docs/tutorials/qblox/Cluster.rst
  docs/tutorials/qblox/Pulsar.rst
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
Due: end-of-file-fixer, pretty-format-json

apply suggestions
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Removed unused imports
  quantify_scheduler/instrument_coordinator/components/generic.py
Due: end-of-file-fixer, isort, black

Rename to pulse_data to distinguish better from "pulse_info" list
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Log upon no distortion_corrections supplied and pass full hw config
  quantify_scheduler/backends/qblox/compiler_container.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Move correct_waveform to backends/distortions.py
  quantify_scheduler/backends/distortions.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Add edges quantum device
  CHANGELOG.rst
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/sudden_nz_edge.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/schemas/operation.json
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/device_under_test/test_sudden_nz_edge.py
  tests/scheduler/device_under_test/test_transmon_element.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Let's go modular: refactor to backends.corrections.apply_distortion_corrections
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/distortions.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Applied feedback pt 1
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Moved valid_ios into StaticHardwareProperties
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

Qblox backend: old spec'ed hw configs now raise DeprecationWarning instead of error
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Missing import
  quantify_scheduler/instrument_coordinator/components/generic.py
Due: end-of-file-fixer, isort, black

Tutorial 3: Converted from qcm-baseband to cluster qcm-rf
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Apply 1 suggestion(s) to 1 file(s)
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
