Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

pin pyqtgraph to earlier version
  requirements.txt
Due: end-of-file-fixer

Partly resolving "Edge names broken due to autoreplace of - by _ in qcodes==0.34 (InstrumentBase.__init__)"
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/device_element.py
  quantify_scheduler/device_under_test/edge.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/schemas/examples/circuit_to_device_example_cfgs.py
  quantify_scheduler/schemas/examples/transmon_test_config.json
  quantify_scheduler/schemas/transmon_cfg.json
  requirements.txt
  tests/fixtures/mock_setup.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_composite_square_edge.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add LatencyCorrections datastructure and use it for validating hardware configs.
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Updates to Changelog for a breaking change due to DeviceElement names
  CHANGELOG.md
Due: end-of-file-fixer

add mixing field and update assign frequency function
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

write test multiple measurements
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Remove repr serializations
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/enums.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/schedules/test_schedule_sampling.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_pulse_library.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Remove some deprecated code
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/operation.py
Due: end-of-file-fixer, isort, black

Remove some safe to remove deprecated code
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

Changelog fix nested listed lists
  CHANGELOG.md
Due: end-of-file-fixer

Update .gitlab/merge_request_templates/New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Update New release.md
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Update changelog and authors
  AUTHORS.md
  CHANGELOG.md
Due: end-of-file-fixer

And.. another changelog commit :see_no_evil:
  CHANGELOG.md
Due: end-of-file-fixer

Bump to version 0.9.0
  quantify_scheduler/__init__.py
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

Add pip frozen requirements for 0.9.0
  frozen_requirements/frozen-requirements-0.9.0.txt
Due: end-of-file-fixer

Changelog..
  CHANGELOG.md
Due: end-of-file-fixer

Update release template
  .gitlab/merge_request_templates/New release.md
Due: end-of-file-fixer

Set readme format to markdown for Pypi
  setup.py
Due: end-of-file-fixer, isort, black

Provide fixtures for mock NV setup
  quantify_scheduler/device_under_test/mock_setup.py
  tests/fixtures/mock_setup.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Fix docstring name
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Format changelog entry
  CHANGELOG.md
Due: end-of-file-fixer

Fix typo (same typo still exists in transmon_element.py)
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Clean up after moving functionality to fixture
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Remove unused import
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Rename spectroscopy*pulse* into spectroscopy*operation*
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/device_under_test/test_nv_element.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Rename spectroscopy*puse* to spectroscopy*operation* part 2
  CHANGELOG.md
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Move SpectroscopyOperation into its own module. It is not a gate.
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/shared_native_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Move test for SpectroscopyOperation into separate module
  tests/scheduler/operations/test_shared_native_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Breaking changes of 0.9.0
  tests/scheduler/device_under_test/test_nv_element.py
Due: end-of-file-fixer, isort, black

Use new library in json decoder of operations
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

Remove unused imports
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Introduce "sequence_to_file" param in qblox hardware config to allow skipping writing sequence json files to disk (defaults to true when unspecified)
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove unimplemented `update_settings()`
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
