Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Get all make_qcm fixture-only tests to run
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

All make_qcm + all make_qrm fixture tests running
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

MR feedback part 1
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

All IC test_qblox passing
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Black reformatted
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Try removing # pylint: disable=too-many-ancestors
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

All tests but two in tests/scheduler/device_under_test/test_quantum_device.py passing
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_quantum_device.py
Due: end-of-file-fixer, isort, black

Fix failing tests/scheduler/device_under_test/test_quantum_device.py by not adding default generic icc in fixture
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

Fix _SEQUENCER_STATE_FLAG_INFO and add test
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Replace PulsarQCMRFComponent/PulsarQRMRFComponent by _QCMRFComponent/_QRMRFComponent
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix some Codacy style issues
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix some more Codacy issues
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

test_prepare_ref_source_cluster: test both force_set_parameters False, True
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Combine test_prepare and test_prepare_lazy and test_prepare_force into one
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Combine test_prepare and test_prepare_lazy and test_prepare_force into one (cont'd)
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix the URL for the zhinst qcodes documentation.
  docs/conf.py
  requirements.txt
Due: end-of-file-fixer, isort, black

Added test_retrieve_acquisition_cluster and some code reuse in schedule fixtures
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Fix type hint for _SequencerStateType and add coverage for instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Remove TODOs
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Resolve "Marker and triggers not configured properly in ZI backend"
  quantify_scheduler/backends/types/zhinst.py
  quantify_scheduler/backends/zhinst/seqc_il_generator.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/scheduler/backends/zhinst/test_seqc_il_generator.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Sentences end in a period. Period.
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Found in "dummy hardware" testing :yay: : Replace _SequencerStateType by namedtuple qblox_instruments.SequencerState
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update qblox backend driver check to "0.6"
  quantify_scheduler/backends/qblox/driver_version_check.py
Due: end-of-file-fixer, isort, black

Black reformatted
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Change default arg to list
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update qblox-instruments version to 0.6.0
  requirements.txt
Due: end-of-file-fixer

ÃOkay Codacy changing back to tuple
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Add missing flags to _SEQUENCER_STATE_FLAG_INFO and fix test
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix test_verify_qblox_instruments_version
  tests/scheduler/backends/qblox/test_driver_version_check.py
Due: end-of-file-fixer, isort, black

Adjust RF exception message; Add function desc
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Codacy: no mutable default arg
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update Tut 1 to new imports and methods
  docs/tutorials/Tutorial 1. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Part of feedback implemented
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Change type hint to RFModuleSettings in the _QxMRFComponents; Better name for local settings var
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Remove stray print (thanks OQS!)
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

QuantumDevice - Fixed a bug in the BasicTransmonElement where operations had clock-frequencies (float) specified instead of clocks (str)
  CHANGELOG.rst
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

Rename component classes to remove docs warnings
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update changelog and authors
  AUTHORS.rst
  CHANGELOG.rst
Due: end-of-file-fixer

Corrected doc links
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Moved MockLocalOscillator to helpers
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
  quantify_scheduler/helpers/mock_instruments.py
  quantify_scheduler/instrument_coordinator/components/generic.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
