Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Acquisition testcases with Qblox dummy data (QAE-791)
  CHANGELOG.md
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

pandas 2.0.1 released so combining jinja2 & pandas in one req
  pyproject.toml
Due: end-of-file-fixer

Remove old deprecated code (QAE-966)
  CHANGELOG.md
  docs/examples/deprecated.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/schemas/examples/transmon_test_config.json
  quantify_scheduler/schemas/transmon_cfg.json
  tests/fixtures/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Add compatibility info and reorder
  CHANGELOG.md
Due: end-of-file-fixer

Delete frozen req as new code was added to MR
  frozen_requirements/frozen-requirements-0.13.0.txt
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  pyproject.toml
Due: end-of-file-fixer

Update pyproject.toml
  pyproject.toml
Due: end-of-file-fixer

Update .readthedocs.yml
  .readthedocs.yml
Due: end-of-file-fixer, check-yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Update README.md
  README.md
Due: end-of-file-fixer

added frozen requirements
  frozen_requirements/frozen-requirements-0.13.0.txt
Due: end-of-file-fixer

Release 0.13.0
  .readthedocs.yml
  CHANGELOG.md
  README.md
  frozen_requirements/frozen-requirements-0.13.0.txt
  pyproject.toml
  quantify_scheduler/backends/qblox/driver_version_check.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, check-yaml, isort, black

Resolve "Create pydantic schema for MixerCorrections"
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Towards resolving "Pulse power specification"
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/measurement_factories.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/device_under_test/test_transmon_element.py
  tests/scheduler/operations/test_pulse_factories.py
  tests/scheduler/operations/test_stitched_pulse.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Qblox backend, lowering minimum time between acquisitions (QAE-903)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Convert stitched pulse to numerical (QAE-1037)
  CHANGELOG.md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/operations/stitched_pulse.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  quantify_scheduler/waveforms.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/schedules/test_schedule_plotting.py
Due: end-of-file-fixer, isort, black

Allow to subclass CompiledSchedule in graph compilation
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  tests/scheduler/backends/test_graph_compilation.py
Due: end-of-file-fixer, isort, black

Documentation - Fix double graph compile figure and some polish
  docs/quantify_compilers.md
Due: end-of-file-fixer

Add example notebook to Docs that explains how to create UML class diagrams (QAE-1043)
  .readthedocs.yml
  CHANGELOG.md
  docs/examples/UML_class_diagrams.md
  docs/index.md
  pyproject.toml
  quantify_scheduler/helpers/inspect.py
Due: end-of-file-fixer, check-yaml, isort, black

ScheduleGettable: improve error handling (QAE-965)
  CHANGELOG.md
  pyproject.toml
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Qblox backend - Raise RuntimeWarning instead of NotImplementedError upon using reference_magnitude parameter (introduced in !652)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Allow batched clock frequencies in compilation
  CHANGELOG.md
  quantify_scheduler/backends/circuit_to_device.py
  tests/scheduler/backends/test_circuit_to_device.py
Due: end-of-file-fixer, isort, black

Fix reported broken links in linkcheck that are actually working by ignoring them
  docs/conf.py
Due: end-of-file-fixer, isort, black

Add comment
  docs/conf.py
Due: end-of-file-fixer, isort, black

Resolve "Create pydantic schema for Attenuation/Gain"
  CHANGELOG.md
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/schemas/examples/qblox_hardware_options.json
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  quantify_scheduler/schemas/examples/zhinst_hardware_options.json
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Qblox Backend: Replace Instances of `numpy.isclose` to `math.isclose` for Hardware Compile Speedup (QAE-1154)
  .gitignore
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Updates to MR templates and qblox/recent.md
  .gitlab/merge_request_templates/General.md
  .gitlab/merge_request_templates/New release.md
  docs/tutorials/qblox/recent.md
Due: end-of-file-fixer

Allow documentation to be built without graphviz installed
  docs/conf.py
  docs/examples/UML_class_diagrams.md
  quantify_scheduler/helpers/inspect.py
Due: end-of-file-fixer, isort, black

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Revert "Update .gitlab-ci.yml file"
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

Marker pulse qblox backend
  CHANGELOG.md
  docs/tutorials/qblox/Cluster.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/enums.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/operations/pulse_library.py
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, pretty-format-json, isort, black

Remove normalization in virtual AwgOffsetStrategy
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

frozen reqs
  frozen_requirements/frozen-requirements-0.14.0.txt
Due: end-of-file-fixer

start development v0.14.1
  CHANGELOG.md
Due: end-of-file-fixer

Resolve "Qblox compiler does not recognize NaN frequency as None"
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
