Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

remove unused test config
  quantify_scheduler/schemas/examples/transmon_test_config.json
Due: end-of-file-fixer, pretty-format-json

removed transmon_test_config dependencies from tests
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/schemas/examples/test_utils.py
Due: end-of-file-fixer, isort, black

deprecate hardware_compile
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Update CHANGELOG.md
  CHANGELOG.md
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/visualization/pulse_scheme.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Display CRCount as acquisition with CR label
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/visualization/circuit_diagram.py
Due: end-of-file-fixer, isort, black

fix type hint
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

QuantifyCompiler accepts QuantumDevice as config
  quantify_scheduler/backends/graph_compilation.py
  tests/scheduler/backends/test_graph_compilation.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/backends/graph_compilation.py
  tests/scheduler/backends/test_graph_compilation.py
Due: end-of-file-fixer, isort, black

sort imports, type checking
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

changelog
  CHANGELOG.md
Due: end-of-file-fixer

code cleanup, docstring
  quantify_scheduler/backends/graph_compilation.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.md
Due: end-of-file-fixer

replace DeprecatedWarning with FutureWarnings
  .gitlab/merge_request_templates/New release.md
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

changed name of test_qcompile ...
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Apply 2 suggestion(s) to 2 file(s)
  .gitlab/merge_request_templates/New release.md
  CHANGELOG.md
Due: end-of-file-fixer

Modified test fixture for SerialCompiler
  tests/fixtures/schedule.py
Due: end-of-file-fixer, isort, black

Refactored qcompile to SerialCompiler
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Refactored qcompile for SerialCompiler
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Refactoring qcompile to SerialCompiler
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Refactored qcompile
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Refactor qcompile
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Revert "Revert ability to set clock frequency (QAE-324)"
  CHANGELOG.md
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox/q1asm_instructions.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

QAE-324: Add upd_params after frequency change to apply it
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
Due: end-of-file-fixer, isort, black

Fix acquisition tests after new qblox-instruments dummy features
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

QAE-324: Small changelog fix
  CHANGELOG.md
Due: end-of-file-fixer

Refactored qcompile with SerialCompiler
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Add q1asm instruction acquire ttl.
  quantify_scheduler/backends/qblox/q1asm_instructions.py
Due: end-of-file-fixer, isort, black

added TriggerCountStrategy acquisition
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

Added tests of the TriggerCountStrategy
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

Entry in changelog
  CHANGELOG.md
Due: end-of-file-fixer

ran black
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

update changelog and authors
  AUTHORS.md
  CHANGELOG.md
Due: end-of-file-fixer

Refactored qcompile to SerilalCompiler
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

Refactored qcompile to SerialCompiler
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
