Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

fix basic tutorial for new hardware_compile signature
  docs/tutorials/Tutorial 1. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

change a few 'mapping' references in docstrings
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

change zhinst backend compile typecheck from CompiledSchedule into Schedule
  quantify_scheduler/backends/zhinst_backend.py
Due: end-of-file-fixer, isort, black

update changelog and authors
  AUTHORS.rst
  CHANGELOG.rst
Due: end-of-file-fixer

fixed line that was too long
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

fixed line that was too long again
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.rst
Due: end-of-file-fixer

moved the optionality of hardware_cfg to qcompile
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Make device_cfg optional in qcompile
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

fix return type annotation for hardware_compile
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

make changelog more uniform
  CHANGELOG.rst
Due: end-of-file-fixer

removed duplicate entry
  CHANGELOG.rst
Due: end-of-file-fixer

fix test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

added test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

black
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Proposal improvement CI
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/q1asm_instructions.py
  quantify_scheduler/backends/qblox/register_manager.py
  quantify_scheduler/backends/zhinst/resolvers.py
  quantify_scheduler/frontends.py
  quantify_scheduler/helpers/time.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/math.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/resources.py
  quantify_scheduler/visualization/constants.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/scheduler/backends/qblox/test_register_manager.py
  tests/scheduler/backends/zhinst/test_resolvers.py
  tests/scheduler/backends/zhinst/test_seqc_il_generator.py
  tests/scheduler/device_under_test/test_quantum_device.py
  tests/scheduler/helpers/test_inspect.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/compiles_all_backends.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/schemas/examples/test_utils.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_math.py
  tests/scheduler/test_pulse_library.py
  tests/scheduler/test_resources.py
  tests/scheduler/test_waveforms.py
  tests/scheduler/visualization/test_pulse_diagram.py
  tests/scheduler/visualization/test_pulse_scheme.py
  tests/test_headers_and_copyright.py
Due: end-of-file-fixer, isort, black

Fixing and Improving Test Cases
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

seems good
  quantify_scheduler/helpers/waveforms.py
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

add test for long pulses
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

fix tests
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

fix bug in area_pulses and in ramp pulse sampling
  quantify_scheduler/helpers/waveforms.py
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

fix test
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

add docs; add optimization for SquarePulse
  quantify_scheduler/helpers/waveforms.py
Due: end-of-file-fixer, isort, black

update docstring
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/operations/pulse_library.py
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

fix rounding of time to samples
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

fast json validation
  quantify_scheduler/compilation.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/resources.py
Due: end-of-file-fixer, isort, black

use cache
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

use cache and fastjsonschema for better performance
  quantify_scheduler/json_utils.py
  requirements.txt
Due: end-of-file-fixer, isort, black

fix sequencer_sync_en not being reset
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Adds changelog entry to the fix.
  CHANGELOG.rst
Due: end-of-file-fixer

Fix codacy complaints.
  quantify_scheduler/helpers/waveforms.py
  tests/scheduler/helpers/test_waveforms.py
Due: end-of-file-fixer, isort, black

Fix the typo in the docstring of area_pulse.
  quantify_scheduler/helpers/waveforms.py
Due: end-of-file-fixer, isort, black

got the periodic acquisition running
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

update docstring
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

fixed order of acquisition points
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Deleted pre-commit hooks except black
  .pre-commit-config.yaml
  AUTHORS.rst
Due: end-of-file-fixer, check-yaml

Updating user guide to mention correctly the QuantumDevice and ScheduleGettable(s) available
  docs/user_guide.rst
Due: end-of-file-fixer
