Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

TimeRef relative to other channel of same module (SE-636)
  docs/source/reference/acquisition_protocols.md
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/enums.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/acquisition_library.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/qblox/test_relative_time_ref.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Update QTM parameter patches with calls to actual parameters via `wraps` (SE-499)
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Nv pulse shape change
  AUTHORS.md
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/pulse_factories.py
  tests/integration/test_compilation_nv.py
  tests/scheduler/operations/test_pulse_factories.py
Due: end-of-file-fixer, isort, black

Fix TiggerCount acquisition protocol with SUM and APPEND bin mode for QTM
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_trigger_count.py
Due: end-of-file-fixer, isort, black

Fix: "Schedule serialization not working"
  AUTHORS.md
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/test_json_utils.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Add charge sensor to the spin back-end
  quantify_scheduler/__init__.py
  quantify_scheduler/device_under_test/__init__.py
  quantify_scheduler/device_under_test/spin_element.py
  tests/scheduler/device_under_test/test_specific_device_element.py
Due: end-of-file-fixer, isort, black

Add duration to profiler
  docs/source/dev/profiling/loops_with_measurements.py
  docs/source/dev/profiling/metrics.py
  docs/source/dev/profiling/multidim_batched_sweep.py
  docs/source/dev/profiling/profiling.ipynb
  docs/source/dev/profiling/random_gates.py
  docs/source/dev/profiling/resonator_spectroscopy.py
  docs/source/dev/profiling/simple_binned_acquisition.py
Due: end-of-file-fixer, isort, black

Fix pyright various errors (getstate in serialization and nv center typehints)
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/json_utils.py
Due: end-of-file-fixer, isort, black

docs: fix typo AMC and rephrase a bit
  docs/source/reference/qblox/Cluster.md
Due: end-of-file-fixer

chore: add json mixins to schedule
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

feat[qblox]: Add interactivity to a schedule's compiled instructions
  docs/source/_static/css/custom.css
  docs/source/conf.py
  quantify_scheduler/backends/qblox/schedule.py
  quantify_scheduler/backends/qblox/visualization.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedule.json
  tests/scheduler/backends/qblox/test_display_compiled_instructions.py
Due: end-of-file-fixer, pretty-format-json, isort, black

feat[qblox]: Add RFSwitchToggle Operation
  pyproject.toml
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox/operation_handling/factory_analog.py
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/operations/rf_switch_toggle.py
  quantify_scheduler/backends/qblox/operations/stitched_pulse.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox/stack_pulses.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/device_under_test/quantum_device.py
  tests/baseline_qblox_assembly/acq_protocol_append_mode_ssro_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/acq_protocol_average_mode_allxy_cluster0_module4_seq0_instr.json
  tests/baseline_qblox_assembly/assigning_waveform_indices_cluster0_module2_seq0_instr.json
  tests/integration/backends/__init__.py
  tests/integration/backends/qblox/__init__.py
  tests/integration/backends/qblox/operations/__init__.py
  tests/integration/backends/qblox/operations/test_rf_switch_toggle.py
  tests/scheduler/backends/qblox/conftest.py
  tests/scheduler/backends/qblox/fixtures/__init__.py
  tests/scheduler/backends/qblox/fixtures/assembly.py
  tests/scheduler/backends/qblox/operation_handling/empty_qasm_program.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/qblox/operation_handling/test_marker_pulse_strategy.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/backends/qblox/operations/test_rf_switch_toggle.py
  tests/scheduler/backends/qblox/test_compiler_abc.py
  tests/scheduler/backends/qblox/test_qasm_program.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/schedules/test_control_flow.py
Due: end-of-file-fixer, pretty-format-json, isort, black

feat: Adds S, SDagger, T and TDagger gates to gate library
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

feat: Add DualThresholdedTriggerCount
  docs/source/reference/acquisition_protocols.md
  docs/source/reference/qblox/Acquisition details.md
  docs/source/tutorials/Acquisitions.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/bin_mode_compat.py
  quantify_scheduler/backends/qblox/operation_handling/factory_timetag.py
  quantify_scheduler/backends/qblox/qasm_program.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/enums.py
  quantify_scheduler/helpers/generate_acq_channels_data.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/operation.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_dual_thresholded_trigger_count.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Fixing the CZ gate for spin
  quantify_scheduler/device_under_test/spin_edge.py
  tests/scheduler/backends/test_circuit_to_device.py
  tests/scheduler/device_under_test/test_edge.py
Due: end-of-file-fixer, isort, black

Add repetitions property to LoopOperation
  quantify_scheduler/operations/control_flow_library.py
Due: end-of-file-fixer, isort, black

chore: update pyright to 1.1.395
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/graph_backends/test_device_compile.py
  tests/scheduler/device_under_test/test_quantum_device.py
Due: end-of-file-fixer, isort, black

feat: only delete acquisition data on sequencers used (QTFY-693)
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

chore: Refactor deriving sequencer (mostly feedback/trigger) settings
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/timetag.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_dual_thresholded_trigger_count.py
  tests/scheduler/backends/qblox/end_to_end/operations/test_thresholded_trigger_count.py
  tests/scheduler/backends/qblox/fixtures/hardware_config.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/backends/qblox/test_hardware_config.py
  tests/scheduler/backends/qblox/test_qtm_compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/zhinst/test_settings.py
Due: end-of-file-fixer, isort, black

Fix: create default channel description based on channel name (QTFY-700)
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/qblox/test_hardware_config.py
Due: end-of-file-fixer, isort, black

feat: sync on external trigger (TIC-57)
  quantify_scheduler/backends/qblox/driver_version_check.py
  quantify_scheduler/backends/qblox/instrument_compilers.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/backends/qblox/test_external_trigger_sync.py
  tests/scheduler/instrument_coordinator/components/qblox/__init__.py
  tests/scheduler/instrument_coordinator/components/qblox/test_sync_on_external_trigger.py
Due: end-of-file-fixer, isort, black

chore[pyright]: unignore qblox instrument coordinator components
  docs/source/conf.py
  pyproject.toml
  quantify_scheduler/backends/mock/mock_rom.py
  quantify_scheduler/instrument_coordinator/components/base.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Use ManualParameter instead of Parameter when it's more appropriate
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_edge.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
Due: end-of-file-fixer, isort, black

fix: edge docstrings fixes in QuantumDevice
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

refactor: use only one constant for defining NCO minimum time between operations
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/qblox/test_hardware_config.py
  tests/scheduler/backends/qblox/test_relative_time_ref.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

fix: Add repetitions property to LoopOperation
  quantify_scheduler/operations/control_flow_library.py
  tests/scheduler/backends/qblox/operations/test_control_flow_library.py
  tests/scheduler/schedules/test_schedule_plotting.py
Due: end-of-file-fixer, isort, black

feat: add WeightedThresholdedAcquistion
  docs/source/reference/acquisition_protocols.md
  quantify_scheduler/backends/qblox/analog.py
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/bin_mode_compat.py
  quantify_scheduler/backends/qblox/operation_handling/factory_analog.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/operations/__init__.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/measurement_factories.py
  tests/scheduler/test_acquisition_library.py
Due: end-of-file-fixer, isort, black

feat: name parameter for Schedule and SerialCompiler are no longer required
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/backends/test_graph_compilation.py
  tests/scheduler/schedules/test_schedule.py
Due: end-of-file-fixer, isort, black

chore: fix QCoDeS DeprecationWarnings
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/utility.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

feat: Make ScheduleGettable.compile public
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/stack_pulses.py
  quantify_scheduler/gettables.py
  quantify_scheduler/gettables_profiled.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/schedules/_visualization/pulse_diagram.py
  tests/scheduler/backends/qblox/operation_handling/test_pulses.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

chore: pin packages at major-minor versions
  frozen_requirements/frozen-requirements-0.21.1.txt
  pyproject.toml
Due: end-of-file-fixer

Fix: Pin plotly version in docs build
  pyproject.toml
Due: end-of-file-fixer

Rename "qubit" references to device element internally, and in argument docstrings
  CHANGELOG.md
  RELEASE_NOTES.md
  quantify_scheduler/backends/circuit_to_device.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operations/control_flow_library.py
  quantify_scheduler/backends/qblox/operations/gate_library.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/device_under_test/mock_setup.py
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/device_under_test/spin_element.py
  quantify_scheduler/device_under_test/transmon_element.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/operations/composite_factories.py
  quantify_scheduler/operations/control_flow_library.py
  quantify_scheduler/operations/gate_library.py
  quantify_scheduler/operations/nv_native_library.py
  quantify_scheduler/operations/operation.py
  quantify_scheduler/operations/pulse_compensation_library.py
  quantify_scheduler/operations/pulse_factories.py
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/operations/shared_native_library.py
  quantify_scheduler/operations/spin_library.py
  quantify_scheduler/schedules/_visualization/circuit_diagram.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schedules/spectroscopy_schedules.py
  quantify_scheduler/schedules/timedomain_schedules.py
  quantify_scheduler/schedules/trace_schedules.py
  quantify_scheduler/schemas/operation.json
  tests/scheduler/operations/test_stitched_pulse.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

chore: update changeloge and release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  pyproject.toml
Due: end-of-file-fixer

Add tests for WeightedThresholdedAcquisition
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/operations/__init__.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/helpers/test_generate_acq_channels_data.py
  tests/scheduler/test_acquisition_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
