Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

fix typo
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

fix for json output
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

Fix for getting operation times
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

add missing return statement
  quantify_scheduler/profiled_gettables.py
Due: end-of-file-fixer, isort, black

only compare keys in hw_config comparisons
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

distortion parameters are passed as numpy arrays
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

update requirements.txt
  requirements.txt
Due: end-of-file-fixer

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

updated the zhinst backend tests for new hw config
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

marked failures as xfail two not supported, one clear bug
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Raise a more understandable exception when compiling an acquisition with larger than allowed duration.
  CHANGELOG.rst
  quantify_scheduler/backends/zhinst_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Small fix for last commit
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Fixed tests for zhinst backend graph compile
  tests/scheduler/backends/graph_backends/standard_schedules.py
  tests/scheduler/backends/graph_backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

included pygraphviz in requirements.txt
  requirements.txt
Due: end-of-file-fixer

all old tests passing, new one failing (which I would expect to work)
  quantify_scheduler/device_under_test/mock_setup.py
Due: end-of-file-fixer, isort, black

marked pygraphviz test as an expected failure
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  requirements.txt
  tests/scheduler/backends/test_graph_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

added pygraphviz to requirements_dev for the readthedocs build
  .readthedocs.yml
  requirements_dev.txt
Due: end-of-file-fixer, check-yaml

removed requirement of pygraphviz
  .readthedocs.yml
  quantify_scheduler/backends/graph_compilation.py
  requirements_dev.txt
Due: end-of-file-fixer, check-yaml, isort, black

test_real_mode_pulses: improved readability
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Added missing period to assert message
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Reverted temp dir changes from previous commit
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

minor if statement fix
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Revert "Added missing period to assert message"
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

added missing period
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

comments
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

test_real_mode_pulses: fixed mixup of indices in sequencer path
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

removed flatdict dependence
  quantify_scheduler/backends/qblox_backend.py
  requirements.txt
Due: end-of-file-fixer, isort, black

update distortion_corrections schedules
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/schemas/examples/qblox_test_mapping.json
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, pretty-format-json, isort, black

another attempt at improving readability and clarifying the assert message
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

codacy stuff
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Rename tests to test_trace_acquisition_measurement_control and test_trace_acquisition_instrument_coordinator and change latter to use QRM_RF like the first
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Also add arg use_numpy_array to filter_coefficients fixture
  tests/scheduler/test_corrections.py
Due: end-of-file-fixer, isort, black

updated to OSI approved BSD-3 license
  LICENSE
  README.rst
  setup.py
Due: end-of-file-fixer, isort, black

Add pandas to requirements and order alphabetically
  requirements.txt
Due: end-of-file-fixer

draft profiler test
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

Typo
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

test_assign_frequencies_rf_downconverter: Improve readability by replacing explicit no downconverter test case by an equivalent downconverter=0
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

changes to docstring latex
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black
