Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

remove dangling requirements
  requirements.txt
  requirements_dev.txt
  requirements_setup.txt
  setup.py
Due: end-of-file-fixer, isort, black

Remove bumpversion from setup.cfg
  setup.cfg
Due: end-of-file-fixer

add CHANGELOG.md to MANIFEST.in
  MANIFEST.in
Due: end-of-file-fixer

migrate to pyproject.toml
  pyproject.toml
  setup.cfg
  setup.py
Due: end-of-file-fixer, isort, black

bump 0.11.0 in changelog
  CHANGELOG.md
Due: end-of-file-fixer

Update changelog, recent Qblox interface changes, and deprecated notebook, for 0.11.0 release
  CHANGELOG.md
  docs/examples/deprecated.md
  docs/tutorials/qblox/recent.rst
Due: end-of-file-fixer

alphabetically sort changelog
  CHANGELOG.md
Due: end-of-file-fixer

add jinja2 to requirements
  pyproject.toml
Due: end-of-file-fixer

add vanilla-thin Dockerfile
  .ci/vanilla-thin.Dockerfile
Due: end-of-file-fixer

migrate from requirement files to optional requirements
  .ci/Dockerfile
  .gitlab-ci.yml
  .readthedocs.yml
  CHANGELOG.md
  docs/installation.md
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, check-yaml

add version files to copyright headers exceptions
  tests/test_headers_and_copyright.py
Due: end-of-file-fixer, isort, black

enable autmated release pipeline
  .gitlab-ci.yml
Due: end-of-file-fixer, check-yaml

reformat with black
  quantify_scheduler/waveforms.py
  tests/scheduler/test_waveforms.py
Due: end-of-file-fixer, isort, black

[ci-skip] add frozen requirements for 0.11.0
  frozen_requirements/frozen-requirements-0.11.0.txt
Due: end-of-file-fixer

Release 0.11.0
  .ci/Dockerfile
  .ci/vanilla-thin.Dockerfile
  .gitattributes
  .gitlab-ci.yml
  .gitlab/merge_request_templates/New release.md
  .readthedocs.yml
  CHANGELOG.md
  MANIFEST.in
  docs/examples/deprecated.md
  docs/installation.md
  docs/tutorials/qblox/recent.rst
  frozen_requirements/frozen-requirements-0.11.0.txt
  pyproject.toml
  quantify_scheduler/__init__.py
  quantify_scheduler/_static_version.py
  quantify_scheduler/_version.py
  quantify_scheduler/waveforms.py
  requirements.txt
  requirements_dev.txt
  requirements_setup.txt
  setup.cfg
  setup.py
  tests/scheduler/test_waveforms.py
  tests/test_headers_and_copyright.py
Due: end-of-file-fixer, check-yaml, isort, black

add Unreleased section to changelog
  CHANGELOG.md
Due: end-of-file-fixer

Remove double entries from 0.11.0 and 0.10.0 changelog
  CHANGELOG.md
Due: end-of-file-fixer

Allow input_att for complex input and output (QAE-921)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Replace float comp by np.isclose; Add check for external LO found
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Breaking change: downconverter_freq 0 does not unset it, use "null" instead
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Release 0.11.1
  CHANGELOG.md
  docs/tutorials/qblox/recent.rst
  frozen_requirements/frozen-requirements-0.11.1.txt
Due: end-of-file-fixer

Start of the development of quantify-scheduler-0.11.2
  CHANGELOG.md
Due: end-of-file-fixer

Remove double import
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.md
Due: end-of-file-fixer

Add test case for external LO not found
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Frequency print formatting; Changelog
  CHANGELOG.md
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
Due: end-of-file-fixer, isort, black

Remove ununused import
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Black
  quantify_scheduler/schedules/__init__.py
Due: end-of-file-fixer, isort, black

Resolve "Qblox backend does not support negative latencies"
  AUTHORS.md
  CHANGELOG.md
  quantify_scheduler/backends/corrections.py
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/backends/test_zhinst_backend.py
Due: end-of-file-fixer, isort, black

Remove double changelog entries
  CHANGELOG.md
Due: end-of-file-fixer

Update 0.11.0 changelog: Raise error upon clock being used in operation that was not added as resource to the schedule or device configuration
  CHANGELOG.md
Due: end-of-file-fixer

Minor tweaks to tests
  tests/scheduler/backends/qblox/test_helpers_qblox.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

Fix changelog
  CHANGELOG.md
Due: end-of-file-fixer

Acquisition - `InstrumentCoordinator.retrieve_acquisition` returns an `xarray.Dataset` (QAE-674, #362)
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/factory.py
  quantify_scheduler/backends/types/qblox.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/gettables.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
  quantify_scheduler/instrument_coordinator/instrument_coordinator.py
  quantify_scheduler/instrument_coordinator/utility.py
  quantify_scheduler/operations/acquisition_library.py
  quantify_scheduler/schedules/schedule.py
  tests/integration/test_compilation_nv.py
  tests/scheduler/backends/graph_backends/test_qblox_backend.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/instrument_coordinator/components/test_qblox.py
  tests/scheduler/instrument_coordinator/test_instrument_coordinator.py
  tests/scheduler/operations/test_measurement_factories.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

All changes at once because I messed up.. Sorry :)
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer

Finish docstrings
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Black
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Polish and fix changelog
  CHANGELOG.md
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox/operation_handling/virtual.py
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_pulse_library.py
Due: end-of-file-fixer, isort, black

Docstring
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Proper formtatting with jupytext
  docs/tutorials/Operations and Qubits.md
Due: end-of-file-fixer
