Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

fix exception message
  quantify_scheduler/backends/qblox/operation_handling/factory.py
Due: end-of-file-fixer, isort, black

added test for append mode exception
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
Due: end-of-file-fixer, isort, black

Resolve "Local oscillator component for ZI backend only configures the frequency."
  CHANGELOG.rst
  quantify_scheduler/backends/types/common.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/instrument_coordinator/components/generic.py
  quantify_scheduler/schemas/examples/zhinst_test_mapping.json
  tests/scheduler/backends/test_zhinst_backend.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, pretty-format-json, isort, black

move bin_idx
  quantify_scheduler/backends/qblox/compiler_abc.py
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
  quantify_scheduler/backends/types/qblox.py
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

fixed wighted acquisitions
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

added tests weighted acquisition
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

cleaned up generate data test
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

added test acquire average weighted
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

fixed index not using register
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

test_acquire_append for weighted acquisition
  tests/scheduler/backends/qblox/operation_handling/test_acquisitions.py
Due: end-of-file-fixer, isort, black

fixed baseline file
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
Due: end-of-file-fixer, pretty-format-json

removed outdated test
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

removed test unimplemented protocol
  tests/scheduler/instrument_coordinator/components/test_qblox.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/backends/qblox/operation_handling/factory.py
Due: end-of-file-fixer, isort, black

removed left-over from different branch
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

docstring
  quantify_scheduler/backends/qblox/operation_handling/factory.py
Due: end-of-file-fixer, isort, black

made OpInfo
  quantify_scheduler/backends/types/qblox.py
Due: end-of-file-fixer, isort, black

added docstrings
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
Due: end-of-file-fixer, isort, black

make expand_from_normalised_range public
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

added logger message
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
Due: end-of-file-fixer, isort, black

docstrings staircase
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
Due: end-of-file-fixer, isort, black

added docstrings
  quantify_scheduler/backends/qblox/operation_handling/base.py
Due: end-of-file-fixer, isort, black

removed deleted module
  docs/api_reference.rst
Due: end-of-file-fixer

fix example in docstring
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

whitespace
  tests/scheduler/backends/qblox/operation_handling/test_factory.py
Due: end-of-file-fixer, isort, black

added docstrings superclass
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

docstrings SquareAcquisitionStrategy
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

docstrings WeightedAcquisitionStrategy
  quantify_scheduler/backends/qblox/operation_handling/acquisitions.py
Due: end-of-file-fixer, isort, black

add new qblox backend modules to api reference
  docs/api_reference.rst
Due: end-of-file-fixer

Removed the words tutorial from backend docs
  docs/tutorials/qblox/index.rst
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer

_QRMAcquisitionManager._get_scope_data now has correct output type
  quantify_scheduler/gettables.py
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Created tutorials and backend sections
  docs/index.rst
Due: end-of-file-fixer

made new tutorial
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

made it tutorial 2
  docs/tutorials/Tutorial 2. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

updated header
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

ran black on tutorial
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
