Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Apply 1 suggestion(s) to 1 file(s)
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer

Apply 5 suggestion(s) to 2 file(s)
  docs/tutorials/qblox/Pulsar.rst
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Apply 3 suggestion(s) to 2 file(s)
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

remove _ from assign_pulse_and_acq_info_to_devices
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

qblox backend/helpers: mapping -> hardware_cfg
  quantify_scheduler/backends/qblox/helpers.py
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Streamline imports
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Remove unnecessary comment
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Removed unnecessary _ from test function
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Apply 2 suggestion(s) to 2 file(s)
  CHANGELOG.rst
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Removed duplicated import
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Streamline import
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend tests: change some references of mapping to hardware_cfg
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend tests: removed now useless command
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

exception message to make the assert self-explanatory
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Added missing type hint
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Codacy
  quantify_scheduler/backends/qblox/helpers.py
Due: end-of-file-fixer, isort, black

Tutorial 3: Added lo_freq = None to hw_config
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Some more mapping -> hardware_cfg changes
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Qblox backend now converts automatically to new hw_cfg scheme
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

added test to ensure automatic conversion of hw_cfg to new spec
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/backends/qblox_backend.py
Due: end-of-file-fixer, isort, black

Revert 'MockLocalOscillator moved from tests to main package'
  CHANGELOG.rst
  quantify_scheduler/helpers/mock_instruments.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, isort, black

Update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Moved MockLocalOscillator definition from tests to helpers.mock_instruments.MockLocalOscillator
  quantify_scheduler/helpers/mock_instruments.py
  tests/scheduler/instrument_coordinator/components/test_generic.py
Due: end-of-file-fixer, isort, black

Rename course => coarse (in context of get_nco_phase_arguments)
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Convert to positive phase_deg by adding 360
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Move asserts out of prod code
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.rst
Due: end-of-file-fixer

We take `phase_deg` modulo 360 to account for negative phase and phase larger than 360
  quantify_scheduler/backends/qblox/helpers.py
  tests/scheduler/backends/qblox/test_helpers_qblox.py
Due: end-of-file-fixer, isort, black

Fix test_generate_qasm_program and add phase test cases
  tests/scheduler/backends/qblox/operation_handling/test_virtual.py
Due: end-of-file-fixer, isort, black

Interpolation requires two sample points
  quantify_scheduler/backends/corrections.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix changelog entry
  CHANGELOG.rst
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  CHANGELOG.rst
Due: end-of-file-fixer

Check for elements missing in distortion correction configs
  quantify_scheduler/backends/corrections.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Update test__correct_pulse
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Fix jupyter-execute in QASMProgram
  quantify_scheduler/backends/qblox/qasm_program.py
Due: end-of-file-fixer, isort, black

interchanged idx_imag and idx_real in pulses.py for even output paths to be able to generate real signals
  quantify_scheduler/backends/qblox/operation_handling/pulses.py
Due: end-of-file-fixer, isort, black

Included change in changelog.rst
  CHANGELOG.rst
Due: end-of-file-fixer

reworded real_output_mode to real_output_x mode in changelog
  CHANGELOG.rst
Due: end-of-file-fixer

Docstrings for apply_distortion_corrections and distortion_correct_pulse
  docs/api_reference.rst
  quantify_scheduler/backends/corrections.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
