Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local  # set up all as local to manage packages with pip in Docker
    hooks:
      # ################################################################################
      # Static analysis before committing
      # ################################################################################

      # To install these hooks run:
      # pre-commit install --hook-type pre-commit

      # pip install pre-commit-hooks  # provides the utilities below

      - id: trailing-whitespace-fixer  # unique id
        name: pre-commit-hooks [trailing-whitespace-fixer]  # displayed name
        entry: trailing-whitespace-fixer  # shell command
        stages: [commit]
        language: python
        types: [text]  # file types

      - id: end-of-file-fixer
        name: pre-commit-hooks [end-of-file-fixer]
        entry: end-of-file-fixer
        exclude: \.(svg)$  # do not modify SVG images
        stages: [commit]
        language: python
        types: [text]

      - id: check-yaml
        name: pre-commit-hooks [check-yaml]
        entry: check-yaml
        args: ["--allow-multiple-documents"]
        stages: [commit]
        language: python
        types: [yaml]

      - id: fix-encoding-pragma
        name: pre-commit-hooks [fix-encoding-pragma]
        entry: fix-encoding-pragma
        # notebooks for notebook_to_jupyer_sphinx have an jupytext header,
        # but that header sometimes gets destroyed by Jupyter that adds
        # a `# -*- coding: utf-8 -*-` encoding at the top of the file
        args: ["--remove"]
        stages: [commit]
        language: python
        types: [text]
        files: \.(rst.py|rst.txt.py)$

      - id: mixed-line-ending
        name: pre-commit-hooks [mixed-line-ending]
        entry: mixed-line-ending
        args: ["--fix=lf"]
        stages: [commit]
        language: python
        types: [text]

      - id: pretty-format-json
        name: pre-commit-hooks [pretty-format-json]
        entry: pretty-format-json
        args: ["--autofix", "--indent", "4", "--no-ensure-ascii", "--no-sort-keys"]
        stages: [commit]
        language: python
        types: [json]

      # pip install isort
      - id: isort
        name: Python imports sort [isort]
        entry: isort
        language_version: python3
        args: ["--profile", "black"]  # compatible with black
        stages: [commit]
        language: python
        types: [python]

      # pip install black
      - id: black
        name: Python code autoformatter [black]
        language_version: python3
        entry: black
        args: ["--check", "--fast"]
        stages: [commit]
        language: python
        types: [python]

      # ################################################################################
      # Run tests before pushing
      # ################################################################################

      # To install this hook run:
      # pre-commit install --hook-type pre-push

      - id: pytest
        name: Run tests
        entry: pytest
        args: ["-n", "auto"]  # run in parallel, requires pytest-xdist
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]

fix sphinx
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fix downconverter freq correction
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

fix tests
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

change IMMEDIATE_SZ_WAIT to MAX_WAIT_TIME_IMMEDIATE
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Clarified docstring
  quantify_scheduler/backends/qblox/constants.py
Due: end-of-file-fixer, isort, black

regen baseline assembly
  tests/baseline_qblox_assembly/AllXY_qrm0_seq0_instr.json
  tests/baseline_qblox_assembly/Readout calibration q0, [0, 1]_qrm0_seq0_instr.json
Due: end-of-file-fixer, pretty-format-json

fix docstring
  quantify_scheduler/backends/qblox/constants.py
Due: end-of-file-fixer, isort, black

added changelog entry for !319
  CHANGELOG.rst
Due: end-of-file-fixer

fix typo
  tests/scheduler/schedules/test_schedule_sampling.py
Due: end-of-file-fixer, isort, black

revert operation_id to operation_repr
  quantify_scheduler/compilation.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fix most test
  quantify_scheduler/compilation.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

black
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/test_compilation.py
  tests/scheduler/test_gate_library.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

add Schedulable to main namespace
  quantify_scheduler/__init__.py
Due: end-of-file-fixer, isort, black

fix deepcopy behavior of schedules and schedulables
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

make schedulable serializable
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

change schedule.timing_constraints to a dictionary rahter than list
  quantify_scheduler/backends/qblox_backend.py
  quantify_scheduler/backends/zhinst_backend.py
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/helpers/waveforms.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/schedules/schedule.py
  quantify_scheduler/schemas/schedule.json
  quantify_scheduler/visualization/circuit_diagram.py
  quantify_scheduler/visualization/pulse_diagram.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/test_spectroscopy_schedules.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, pretty-format-json, isort, black

black
  quantify_scheduler/compilation.py
  quantify_scheduler/helpers/schedule.py
  quantify_scheduler/json_utils.py
  quantify_scheduler/schedules/schedule.py
  tests/scheduler/helpers/test_schedule.py
  tests/scheduler/helpers/test_waveforms.py
  tests/scheduler/schedules/test_timedomain_schedules.py
  tests/scheduler/schedules/test_trace_schedules.py
Due: end-of-file-fixer, isort, black

attempt to fix test on unix
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fix to docs
  docs/tutorials/Tutorial 1. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

attempt fix on unix
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

fix tests
  quantify_scheduler/schedules/schedule.py
Due: end-of-file-fixer, isort, black

update changelog
  CHANGELOG.rst
Due: end-of-file-fixer

update typehint of pulse_diagram_plotly and pulse_diagram_matplotlib to accept both Schedule and CompiledSchedule
  quantify_scheduler/visualization/pulse_diagram.py
Due: end-of-file-fixer, isort, black

work on device config description
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

device compile
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

add chevron circuit diagram
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Updates the copyright year to 2022.
  docs/conf.py
Due: end-of-file-fixer, isort, black

typo in changelog
  CHANGELOG.rst
Due: end-of-file-fixer

pulse diagram for chevron schedule
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

black
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

fix sphinx
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

codacy and sphinx fixes
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

more codacy fixes
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

change MAX_WAIT_TIME_IMMEDIATE to IMMEDIATE_MAX_WAIT_TIME
  quantify_scheduler/backends/qblox/constants.py
  quantify_scheduler/backends/qblox/qasm_program.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

remove mention of pulsar from properties
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

added additional note to error
  quantify_scheduler/instrument_coordinator/components/qblox.py
Due: end-of-file-fixer, isort, black

Removed Downconverter from Qblox supported instr
  docs/tutorials/qblox/index.rst
Due: end-of-file-fixer

Added downconverter instructions to qblox tutorial
  docs/tutorials/qblox/Pulsar.rst
Due: end-of-file-fixer
