Repository quantify-os/quantify-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: end-of-file-fixer, check-yaml, fix-encoding-pragma, pretty-format-json, isort, black

end-of-file-fixer:
  name: pre-commit-hooks [end-of-file-fixer]
  entry: end-of-file-fixer
  stages:
  - commit
  language: python

check-yaml:
  name: pre-commit-hooks [check-yaml]
  entry: check-yaml
  args:
  - --allow-multiple-documents
  stages:
  - commit
  language: python

fix-encoding-pragma:
  name: pre-commit-hooks [fix-encoding-pragma]
  entry: fix-encoding-pragma
  args:
  - --remove
  stages:
  - commit
  language: python

pretty-format-json:
  name: pre-commit-hooks [pretty-format-json]
  entry: pretty-format-json
  args:
  - --autofix
  - --indent
  - '4'
  - --no-ensure-ascii
  - --no-sort-keys
  stages:
  - commit
  language: python

isort:
  name: Python imports sort [isort]
  entry: isort
  language_version: python3
  args:
  - --profile
  - black
  stages:
  - commit
  language: python

black:
  name: Python code autoformatter [black]
  language_version: python3
  entry: black
  args:
  - --check
  - --fast
  stages:
  - commit
  language: python

Apply 1 suggestion(s) to 1 file(s)
  docs/tutorials/Tutorial 2. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

fixed a bug where nothing was actually compiled
  docs/compilation_backends.rst
  quantify_scheduler/backends/graph_compilation.py
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

corrected spelling with a spellchecker
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
  docs/tutorials/qblox/Pulsar.rst
  docs/tutorials/zhinst/T_verification_programs.rst.py
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Fixed warnings coming from Sphinx
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
  docs/tutorials/Tutorial 2. basic experiment.rst.py
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

add test for report generation
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

Call determine_absolute_timing() in qcompile() when no device_cfg supplied
  quantify_scheduler/compilation.py
  tests/scheduler/backends/test_qblox_backend.py
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Rename to test_qcompile_no_device_cfg_determine_absolute_timing
  tests/scheduler/test_compilation.py
Due: end-of-file-fixer, isort, black

Changelog
  CHANGELOG.rst
Due: end-of-file-fixer

minor links and syntax changes
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

removed unused tutorial 2
  docs/tutorials/Tutorial 2. basic experiment.rst.py
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

integrated graph based compilation into qcompile
  quantify_scheduler/compilation.py
  quantify_scheduler/device_under_test/quantum_device.py
Due: end-of-file-fixer, isort, black

Pin sphinx to 5.0.2 due to crash in napoleon (_consume_inline_attribute)
  requirements_dev.txt
Due: end-of-file-fixer

Apply 1 suggestion(s) to 1 file(s)
  requirements_dev.txt
Due: end-of-file-fixer

Created script instanciating NV-qubits with their respective measurement protocols and parameters.
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

Remove blank line that snuck in
  tests/fixtures/mock_setup.py
Due: end-of-file-fixer, isort, black

moved external downconversion to a separate function to improve modularity and solve code duplication
  quantify_scheduler/backends/qblox/compiler_abc.py
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

Implemented all lasers as individual ports. Changed some naming conventions.
  quantify_scheduler/device_under_test/nv_element.py
Due: end-of-file-fixer, isort, black

update TOC and cleaned up index
  docs/index.rst
  docs/tutorials/Tutorial 1. Schedules and pulses.rst.py
  docs/tutorials/Tutorial 3. Compilation and hardware execution.rst.py
  docs/tutorials/Tutorial 5. Operations and Qubits.rst.py
  docs/tutorials/qblox/index.rst
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer, fix-encoding-pragma, isort, black

Refactored hermite pulse waveform
  quantify_scheduler/operations/pulse_library.py
  quantify_scheduler/waveforms.py
Due: end-of-file-fixer, isort, black

Make tests (more) future proof
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Apply 1 suggestion(s) to 1 file(s)
  quantify_scheduler/compilation.py
Due: end-of-file-fixer, isort, black

Changed docstrings in clocks for nv_element. Updated ports for nv_experiment.
  docs/refs.bib
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

corrected title underlines
  docs/tutorials/qblox/index.rst
  docs/tutorials/zhinst/index.rst
Due: end-of-file-fixer

Add bibtex library entry
  docs/refs.bib
Due: end-of-file-fixer

Add back accidentally deleted reference
  docs/refs.bib
Due: end-of-file-fixer

More future proofness
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

SpecPulseMicrowave uses clock internal to device element
  quantify_scheduler/device_under_test/nv_element.py
  quantify_scheduler/operations/gate_library.py
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

downconvert_clock_frequency: improved readability, and changed to static method
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

Shortened `get_nv_device_config` by using `BasicElectronicNVElement`.
  tests/scheduler/test_gate_library.py
Due: end-of-file-fixer, isort, black

Apply 5 suggestion(s) to 2 file(s)
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
Due: end-of-file-fixer, isort, black

assign_freqeuncy_with_ext_lo: moved to a static method inside QbloxBasebandModule
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

black reformatted
  quantify_scheduler/backends/qblox/compiler_abc.py
Due: end-of-file-fixer, isort, black

small renamings according to review
  quantify_scheduler/gettables.py
  tests/scheduler/test_gettables.py
  tests/scheduler/test_types.py
Due: end-of-file-fixer, isort, black

rename configs
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

test_qblox_backend : minor change
  tests/scheduler/backends/test_qblox_backend.py
Due: end-of-file-fixer, isort, black

black
  quantify_scheduler/gettables.py
Due: end-of-file-fixer, isort, black

removed duplicated line in changelog
  CHANGELOG.rst
Due: end-of-file-fixer

wip
  quantify_scheduler/compilation.py
  quantify_scheduler/operations/pulse_library.py
Due: end-of-file-fixer, isort, black

Path conditions:
  end-of-file-fixer: any file but: \.(svg)$
  check-yaml: any of: \.(yaml|yml)$
  fix-encoding-pragma: any of: \.(rst.py|rst.txt.py)$
  pretty-format-json: any of: \.json$
  isort: any of: \.py$
  black: any of: \.py$
